{% set title = "About Us" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-7xl mx-auto min-h-screen">
    <div class="block py-6 md:px-6 px-4">
        <div class="text-sm font-bold text-red-600">ABOUT US</div>
        <div class="md:text-5xl text-3xl my-6 font-medium">We are Africa’s leading events <br class="hidden md:block" />and festivals access control company.</div>
        <div class="text-xl font-light mb-4">We believe in giving the best solutions to event organizers so they can keep putting on Africa’s best shows.</div>
        <div class="text-xl font-light mb-4">Tokea is your perfect ticketing and event management partner. We have built a better experience for both fans and event organizers, and shares your vision in events that will form the best memories in life. We will also manage your event entry in the best way possible.</div>

        <div class="grid md:grid-cols-3 mt-24 md:gap-12 gap-4">
            <div class="text-center bg-red-50 rounded-xl p-6">
                <div class="text-xl mb-2">Access control</div>
                <p class="font-light">Speed up entry times which makes a huge difference to your guests, and your bottom line.</p>
            </div>
            <div class="text-center bg-purple-50 rounded-xl p-6">
                <div class="text-xl mb-2">Cashless Payments</div>
                <p class="font-light">Reduce friction by accepting payments through mobile money and cards effortlessly and in real time.</p>
            </div>
            <div class="text-center bg-pink-50 rounded-xl p-6">
                <div class="text-xl mb-2">Experiential</div>
                <p class="font-light">Creates more valuable sponsorships, all while delivering a world class guest experience.</p>
            </div>
            <div class="text-center bg-yellow-50 rounded-xl p-6">
                <div class="text-xl mb-2">Data collection</div>
                <p class="font-light">Not only will you know exactly who they are, but you can identify behaviour trends such as which products or activities certain segments of your guests enjoyed.</p>
            </div>
            <div class="text-center bg-red-50 rounded-xl p-6">
                <div class="text-xl mb-2">Analytics</div>
                <p class="font-light">Discover where sales are coming from and what marketing efforts are working best with real-time insights.</p>
            </div>
            <div class="text-center bg-orange-50 rounded-xl p-6">
                <div class="text-xl mb-2">Reports</div>
                <p class="font-light">Get detailed information about your ticket buyers, ticket sales, event attendance, and more.</p>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}