{% set homepage, loggedin = true %}
{% set title = "Event details" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-5xl mx-auto my-12 min-h-max">
    <div class="flex items-center mb-10">
        <svg class="inline-block" width="36" height="36" fill="#c20e1a" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8v0c0 4.41-3.59 8-8 8 -4.42 0-8-3.59-8-8l0 0C-.01 3.58 3.58-.01 7.99-.01c4.41-.01 8 3.58 8 7.99 0 0 0 0 0 0Zm-4.5.5h-.01c.27 0 .5-.23.5-.5 0-.28-.23-.5-.5-.51h-5.8l2.14-2.15 0-.01c.19-.2.19-.52-.01-.71 -.2-.2-.52-.2-.71 0l-3 3 -.01 0c-.2.19-.2.51-.01.7 0 0 0 0 0 0l3 3 -.01-.01c.19.19.51.19.7 0 .19-.2.19-.52 0-.71 0 0 0 0 0 0L5.63 8.45h5.793Z"/></svg>
        <div class="text-4xl font-bold inline-block ml-4">Host event</div>
    </div>

    <div class="bg-gray-100 rounded-lg p-6 grid grid-cols-4 mb-6">
        <div class="col align-middle">
            <div class="inline-block">
                <div class="w-8 h-8 rounded-full text-white bg-black grid place-content-center">1</div>
            </div>
            <div class="ml-2 text-lg inline-block">About event</div>
        </div>
        <div class="col align-middle">
            <div class="inline-block">
                <div class="w-8 h-8 rounded-full text-black bg-white border grid place-content-center">2</div>
            </div>
            <div class="ml-2 text-lg inline-block">Location</div>
        </div>
        <div class="col align-middle">
            <div class="inline-block">
                <div class="w-8 h-8 rounded-full text-black bg-white border grid place-content-center">3</div>
            </div>
            <div class="ml-2 text-lg inline-block">Ticket Types</div>
        </div>
        <div class="col align-middle">
            <div class="inline-block">
                <div class="w-8 h-8 rounded-full text-black bg-white border grid place-content-center">4</div>
            </div>
            <div class="ml-2 text-lg inline-block">Marketing</div>
        </div>
    </div>

    <div class="grid grid-cols-3 gap-6 border rounded-lg p-6 mb-6">
        <div class="col-span-2">
            <div class=""><input class="px-4 py-3 rounded-md border outline-none w-full" placeholder="Name of event" /></div>
        </div>
        <div class="col">
            <select class="w-full px-4 py-3.5 inline-block border rounded-md bg-white">
                <option>Select event category</option>
            </select>
        </div>

        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md outline-none" type="tel" placeholder="Age limit">
        </div>
        <div class="col flex items-center">
            <div class="flex-grow text-sm text-gray-500">Number of acts</div>
            <div class="flex-shrink">
                <div class="flex gap-3 items-center">
                    <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99ZM7 9l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h6l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-6Z"/></svg></button>
                    <input class="w-12 outline-none py-2 text-center border rounded-md" value="1">
                    <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99Zm1-11v0c0-.56-.45-1-1-1 -.56 0-1 .44-1 1v2H7l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h2v2l0 0c0 .55.44.99 1 .99 .55-.01.99-.45.99-1.01v-2h2l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-2v-2Z"/></svg></button>
                </div>
            </div>
        </div>
        <div class="col flex items-center">
            <div class="flex-grow text-sm text-gray-500">Number of people you are targeting</div>
            <div class="flex-shrink">
                <div class="flex gap-3 items-center">
                    <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99ZM7 9l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h6l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-6Z"/></svg></button>
                    <input class="w-20 outline-none py-2 text-center border rounded-md" value="1000">
                    <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99Zm1-11v0c0-.56-.45-1-1-1 -.56 0-1 .44-1 1v2H7l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h2v2l0 0c0 .55.44.99 1 .99 .55-.01.99-.45.99-1.01v-2h2l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-2v-2Z"/></svg></button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 border rounded-lg p-4 mb-6">
        <div class="col">
            <div class="mb-2 border border-gray-300 rounded-md border-dashed p-4 flex items-center h-24">
                <svg width="48" height="48" fill="#c20e1a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12c0 5.51 4.48 10 10 10 5.51 0 10-4.49 10-10 0-5.52-4.49-10-10-10Zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2Z"/></svg>
                <div class="ml-4">
                    <p>Upload square event poster *</p>
                    <small class="text-gray-500">Resolution: 512x512px; Max size: 2MB</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-2 border border-gray-300 rounded-md border-dashed p-4 flex items-center h-24">
                <svg width="48" height="48" fill="#c20e1a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12c0 5.51 4.48 10 10 10 5.51 0 10-4.49 10-10 0-5.52-4.49-10-10-10Zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2Z"/></svg>
                <div class="ml-4">
                    <p>Upload rectangular event poster</p>
                    <small class="text-gray-500">Resolution: 1280x720px; Max size: 2MB</small>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <textarea class="border rounded-md mb-2 w-full px-4 py-3 outline-none h-24" placeholder="Event description" rows="3"></textarea>
            <div class="text-xs text-gray-400">Brief description of your event</div>
        </div>
    </div>

    <div class="grid grid-cols-3 gap-6 border rounded-lg p-4">
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md outline-none" type="text" placeholder="Date">
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md outline-none" type="text" placeholder="Start time">
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md outline-none" type="text" placeholder="End time">
        </div>
    </div>

    <div class="mt-12 text-center">
        <a href="add-event-location.html" class="inline-block bg-red-700 px-24 py-4 rounded-md text-white font-bold">Next</a>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
