{% set homepage, loggedin = true %}
{% set title = "Event overview" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-5xl mx-auto my-12 min-h-max">
    <div class="text-4xl font-bold inline-block mb-10">Overview</div>

    <div class="border rounded-lg p-6 mb-6">
        <div class="flex mb-4">
            <div class="flex-grow text-lg font-bold">About event</div>
            <div class="flex-shrink text-red-600 font-medium">Edit</div>
        </div>

        <div class="grid grid-cols-3 gap-6">
            <div class="col">
                <img src="#" class="aspect-16-9 w-full bg-gray-100 rounded-md" />
                <div class="block mt-4 text-center">
                    <div class="h-12 aspect-1-1 bg-gray-100 inline-block mx-1"></div>
                    <div class="h-12 aspect-16-9 bg-gray-300 inline-block mx-1"></div>
                </div>
            </div>
            <div class="col-span-2">
                <div class="block mb-6">
                    <div class="text-xs text-gray-400">Name of event</div>
                    <div class="text-lg font-medium">Event name</div>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <div class="col">
                        <div class="text-xs text-gray-400">Date of event</div>
                        <div class="font-medium">23 January 2021</div>
                    </div>
                    <div class="col">
                        <div class="text-xs text-gray-400">Event category</div>
                        <div class="font-medium">Webinare</div>
                    </div>
                    <div class="col">
                        <div class="text-xs text-gray-400">Event type</div>
                        <div class="font-medium">Outdoor</div>
                    </div>
                    <div class="col">
                        <div class="text-xs text-gray-400">Number of acts</div>
                        <div class="font-medium">6</div>
                    </div>
                    <div class="col">
                        <div class="text-xs text-gray-400">Number of people attending</div>
                        <div class="font-medium">3400</div>
                    </div>
                    <div class="col">
                        <div class="text-xs text-gray-400">Age limit</div>
                        <div class="font-medium">18+</div>
                    </div>
                    <div class="col-span-3">
                        <div class="text-xs text-gray-400">Event description</div>
                        <div class="font-medium">skdjkj h ajdhjdsha j </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border rounded-lg p-6 mb-6">
        <div class="flex mb-4">
            <div class="flex-grow text-lg font-bold">Location</div>
            <div class="flex-shrink text-red-600 font-medium">Edit</div>
        </div>

        <div class="grid grid-cols-3 gap-6">
            <div class="col">
                <div class="text-xs text-gray-400">Indoor / Outdoor</div>
                <div class="font-medium">Indoor</div>
            </div>
            <div class="col">
                <div class="text-xs text-gray-400">Location pin (link)</div>
                <div class="font-medium underline">bit.ly/sdjsdj</div>
            </div>
            <div class="col">
                <div class="text-xs text-gray-400">Location description</div>
                <div class="font-medium">KICC Nairobi CBD</div>
            </div>
            <div class="col-span-3">
                <div class="bg-gray-100 h-64 w-full rounded-md"></div>
            </div>
        </div>
    </div>

    <div class="border rounded-lg p-6 mb-6">
        <div class="flex mb-4">
            <div class="flex-grow text-lg font-bold">Ticket types</div>
            <div class="flex-shrink text-red-600 font-medium">Edit</div>
        </div>

        <div class="gap-6 divide-y">
            <table class="w-full">
                <tr class="text-left text-xs">
                    <th class="py-2 text-gray-400">Type</th>
                    <th class="py-2 text-gray-400">Amount</th>
                    <th class="py-2 text-gray-400">Discount</th>
                    <th class="py-2 text-gray-400">No. of people</th>
                </tr>
                <tr>
                    <td class="py-3 font-medium">Regular</td>
                    <td class="py-3 font-medium">KES 1,000</td>
                    <td class="py-3 font-medium">0%</td>
                    <td class="py-3 font-medium">1000</td>
                </tr>
                <tr>
                    <td class="py-3 font-medium">VVIP</td>
                    <td class="py-3 font-medium">KES 2,000</td>
                    <td class="py-3 font-medium">0%</td>
                    <td class="py-3 font-medium">500</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="border rounded-lg p-6 mb-6">
        <div class="flex mb-4">
            <div class="flex-grow text-lg font-bold">Social Media</div>
            <div class="flex-shrink text-red-600 font-medium">Edit</div>
        </div>

        <div class="grid grid-cols-3 gap-6">
            <div class="col">
                <div class="text-xs text-gray-400">Facebook</div>
                <div class="font-medium">bit.ly/sdjsdj</div>
            </div>
            <div class="col">
                <div class="text-xs text-gray-400">Twitter</div>
                <div class="font-medium underline">bit.ly/sdjsdj</div>
            </div>
            <div class="col">
                <div class="text-xs text-gray-400">Instagram</div>
                <div class="font-medium">bit.ly/sdjsdj</div>
            </div>
        </div>
    </div>

    <div class="mt-12 text-center">
        <a href="my-events.html" class="inline-block bg-red-700 px-24 py-4 rounded-md text-white font-bold">Submit</a>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
