{% set homepage, loggedin = true %}
{% set title = "Host event" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-5xl mx-auto my-12 min-h-max">
    <div class="flex items-center mb-10">
        <svg class="inline-block" width="36" height="36" fill="#c20e1a" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8v0c0 4.41-3.59 8-8 8 -4.42 0-8-3.59-8-8l0 0C-.01 3.58 3.58-.01 7.99-.01c4.41-.01 8 3.58 8 7.99 0 0 0 0 0 0Zm-4.5.5h-.01c.27 0 .5-.23.5-.5 0-.28-.23-.5-.5-.51h-5.8l2.14-2.15 0-.01c.19-.2.19-.52-.01-.71 -.2-.2-.52-.2-.71 0l-3 3 -.01 0c-.2.19-.2.51-.01.7 0 0 0 0 0 0l3 3 -.01-.01c.19.19.51.19.7 0 .19-.2.19-.52 0-.71 0 0 0 0 0 0L5.63 8.45h5.793Z"/></svg>
        <div class="text-4xl font-bold inline-block ml-4">Host event</div>
    </div>

    <div class="text-xl font-bold py-4">Organizer details</div>
    <div class="grid grid-cols-3 gap-4 border rounded-lg p-4">
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md" type="text" placeholder="Full Name">
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md" type="text" placeholder="Company">
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md" type="email" placeholder="Email address">
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md" type="tel" placeholder="Phone number">
        </div>
        <div class="col">
            <select class="w-full px-4 py-3.5 inline-block border rounded-md bg-white">
                <option>Select country</option>
            </select>
        </div>
        <div class="col">
            <input class="w-full px-4 py-3 border rounded-md" type="text" placeholder="City">
        </div>
    </div>

    <div class="mt-12 text-center">
        <a href="add-event-details.html" class="inline-block bg-red-700 px-24 py-4 rounded-md text-white font-bold">Next</a>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
