{% set attendees, loggedin = true %}
{% set title = "Dashboard" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-7xl mx-auto min-h-screen">
    <div class="relative md:px-6 px-0">
        <div class="grid grid-cols-2 place-content-center md:py-8 py-4  px-4 md:px-0">
            <div class="flex">
                <div class="hidden md:block w-10 h-10 bg-red-500 rounded-full md:mr-6 mr-3 p-2"><svg fill="#fff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.7 16.707l0-.01c-.4.39-1.03.39-1.42 0l-6-6 0 0c-.4-.4-.4-1.03-.01-1.42l6-6 0-.01c.39-.39 1.03-.38 1.41.02 .37.38.37 1-.01 1.38l-4.3 4.29h11.586l-.01 0c.55-.01 1 .44 1 .99s-.45 1-1 1H5.35l4.29 4.29 -.01-.01c.39.39.39 1.02 0 1.41Z"/></svg></div>
                <div class="">
                    <div class="md:text-4xl text-2xl font-bold">Shin City</div>
                    <div class="md:text-lg text-sm text-gray-400 md:mt-1">16 April 2022</div>
                </div>
            </div>
            <div class="text-right gap-4">
                <button class="hidden md:inline-block text-gray-700 px-4 py-3 rounded-md text-center border border-gray-600">Request payout</button>
                <button class="text-gray-700 md:px-4 md:py-3 py-2 px-3 rounded-md text-center border border-gray-600">Edit</button>
            </div>
        </div>

        <div class="block border-b overflow-auto sticky top-0 bg-white z-10">
            <ul class="block text-lg gap-8 flex text-gray-400 font-light whitespace-nowrap px-4 md:px-0">
                <li class="{% if dashboard %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="dashboard.html" class="py-2 inline-block">Dashboard</a></li>
                <li class="{% if attendees %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="attendees.html" class="py-2 inline-block">Attendees</a></li>
                <li class="{% if payments %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="payments.html" class="py-2 inline-block">Payments</a></li>
                <li class="{% if users %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="users.html" class="py-2 inline-block">Users</a></li>
                <li class="{% if refunds %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="refunds.html" class="py-2 inline-block">Refund Requests</a></li>
            </ul>
        </div>

        <div class="block py-4">
            <div class="flex w-full mb-4 px-4 md:px-0 items-center">
                <div class="md:w-1/3 w-1/2 text-xl block">Attendees</div>
                <div class="md:w-2/3 w-1/2 text-right block gap-4">
                    <select class="px-4 py-2 border outline-none rounded-md bg-white border-gray-300 pr-3">
                        <option>All tickets</option>
                        <option>General Admission tickets</option>
                        <option>G.O.A.T. tickets</option>
                        <option>Couple tickets</option>
                        <option>Group of 4 tickets</option>
                        <option>Group of 8 tickets</option>
                    </select>
                    <input type="text" class="inline-block text-gray-700 text-sm px-3 py-2 rounded-full border border-gray-300 outline-none" placeholder="Search"/>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="w-full whitespace-nowrap">
                    <thead>
                    <tr class="text-left bg-gray-100 text-gray-400">
                        <th class="py-2 px-4 font-normal">Name</th>
                        <th class="py-2 px-4 font-normal">Phone</th>
                        <th class="py-2 px-4 font-normal ">Email</th>
                        <th class="py-2 px-4 font-normal">Ticket ID</th>
                        <th class="py-2 px-4 font-normal">Purchased</th>
                        <th class="py-2 px-4 font-normal text-right">Amount</th>
                        <th class="py-2 px-4 font-normal text-right">Checked&nbsp;in</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b align-middle text-sm cursor-pointer text-gray-600">
                        <td class="py-2 px-4">Wilson Gichuki</td>
                        <td class="py-2 px-4">+254712345678</td>
                        <td class="py-2 px-4">wilson@tokea.com</td>
                        <td class="py-2 px-4">2345JJK1234</td>
                        <td class="py-2 px-4">03 Mar 2022, 3:39pm</td>
                        <td class="py-2 px-4 text-right">KES. 2,500</td>
                        <td class="py-2 px-4 whitespace-nowrap text-right">
                            <span class="inline-block mr-2">12 Mar, 4:45pm</span>
                            <svg fill="green" height="18" class="inline-block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0Z"/><path d="M12 2C6.48 2 2 6.48 2 12c0 5.52 4.48 10 10 10s10-4.48 10-10 -4.48-10-10-10Zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9Z"/></svg>
                        </td>
                    </tr>
                    <tr class="border-b align-middle text-sm cursor-pointer text-gray-600">
                        <td class="py-2 px-4">Wilson Gichuki</td>
                        <td class="py-2 px-4">+254712345678</td>
                        <td class="py-2 px-4">wilson@tokea.com</td>
                        <td class="py-2 px-4">2345JJK1234</td>
                        <td class="py-2 px-4">03 Mar 2022, 3:39pm</td>
                        <td class="py-2 px-4 text-right">KES. 2,500</td>
                        <td class="py-2 px-4 whitespace-nowrap text-right">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-6 text-center">
                <div class="l-pagination">
                    <button class="active">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <button>6</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
