{% set homepage = false %}
{% set title = "Verification Code" %}
{% extends "base.html" %}
{% block content %}

<div class="l-onboard">
    <div class="l-onboard-bg"></div>
    <div class="l-onboard-container">
        <div class="l-onboard-block">
            <div class="title">We have sent you OTP code</div>
            <form method="get" action="my-tickets.html">
                <div class="label">Enter the 4-digit code sent to <span class="font-bold">254712345678</span></div>
                <div class="input-link">
                    <input class="input" placeholder="Enter OTP code">
                    <a href="#" class="input-link-a">Resend</a>
                </div>
                <div class="message">Invalid OTP</div>
                <button type="submit" class="btn">Continue</button>
                <a href="login.html" class="link">Change phone number</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}