{% set homepage = true %}
{% set title = "Tokea" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative bg-gray-50 border-b hidden">
    <div class="container mx-auto max-w-6xl px-4">
        <div class="flex py-6">
            <svg class="flex-shrink align-middle mr-3" width="24" height="24" fill="#00D716" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h48v48H0Z"/><path d="M24 4C12.95 4 4 12.95 4 24c0 11.04 8.95 20 20 20 11.04 0 20-8.96 20-20 0-11.05-8.96-20-20-20Zm-4 30L10 24l2.83-2.83L20 28.34l15.17-15.17L38 16 20 34Z"/></svg>
            <div class="flex-grow align-middle"><span class="font-medium text-lg">Ticket #123456</span> created successfully</div></div>
    </div>
</div>

<div class="l-complete">
    <div class="l-complete-container">
        <div class="title">
            <div class="title-t">Thank you</div>
            <div class="title-b">Your payment is being processed</div>
        </div>

        <div class="tic">
            <div class="tic-container">
                <div class="text">Ticket order details</div>
                <div class="top">Nyarari (by auntie Jemimmah)</div>
                <div class="tip">
                    <div class="ico"><svg width="24" height="24" fill="red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.577 16.79l-3.58-2.3 -3.577 2.3 1.077-4.12 -3.29-2.7 4.24-.25 1.54-3.95 1.54 3.94 4.24.24 -3.29 2.69m5.5-.69c0-1.11.89-2.01 2-2.01v-4c0-1.104-.9-2-2-2h-16c-1.11 0-1.99.89-1.99 2l-.01 4c1.1 0 1.99.89 1.99 1.99s-.9 1.99-2 2l-.01 4c0 1.1.89 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.11 0-2-.9-2-2Z"/></svg></div>
                    <div class="det">
                        <div class="det-1">1 x Early bird tickets</div>
                        <div class="det-1">1 x VIP tickets</div>
                        <div class="det-2">Order total: KES. 1,500</div>
                    </div>
                </div>

                <div class="tip">
                    <div class="ico"><svg width="24" height="24" fill="red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11.99 2C6.47 2 2 6.48 2 12c0 5.52 4.47 10 9.99 10C17.52 22 22 17.52 22 12c0-5.52-4.48-10-10.01-10ZM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8 -3.58 8-8 8Z"/><path fill="none" d="M0 0h24v24H0Z"/><path d="M12.5 7H11v6l5.25 3.15 .75-1.23 -4.5-2.67Z"/></svg></div>
                    <div class="det">
                        <div class="det-1">Friday, 24th December 2021</div>
                        <div class="det-2">from 4:30pm</div>
                    </div>
                </div>

                <div class="tip">
                    <div class="ico"><svg width="24" height="24" fill="red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C7.589 2 4 5.58 4 9.99c-.03 6.44 7.696 11.78 8 12 0 0 8.029-5.56 8-12 0-4.411-3.59-8-8-8Zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4 -1.79 4-4 4Z"/></svg></div>
                    <div class="det">
                        <div class="det-1">Anzana Gardens (next to Two Rivers mall)</div>
                        <div class="det-2">Nairobi, KENYA</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center block mt-12">
            <a href="my-tickets.html" class="inline-block rounded-lg text-center font-bold bg-red-600 border-red-600 py-3 px-6 text-white">My Tickets</a>
            <a href="/" class="inline-block rounded-lg text-center font-bold border border-gray-300 text-gray-600 py-3 px-6">Browse Events</a>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
