{% set dashboard, loggedin = true %}
{% set title = "Dashboard" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-7xl mx-auto min-h-screen">
    <div class="relative md:px-6 px-0">
        <div class="grid grid-cols-2 place-content-center md:py-8 py-4 px-4 md:px-0">
            <div class="flex">
                <div class="hidden md:block w-10 h-10 bg-red-500 rounded-full md:mr-6 mr-3 p-2"><svg fill="#fff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.7 16.707l0-.01c-.4.39-1.03.39-1.42 0l-6-6 0 0c-.4-.4-.4-1.03-.01-1.42l6-6 0-.01c.39-.39 1.03-.38 1.41.02 .37.38.37 1-.01 1.38l-4.3 4.29h11.586l-.01 0c.55-.01 1 .44 1 .99s-.45 1-1 1H5.35l4.29 4.29 -.01-.01c.39.39.39 1.02 0 1.41Z"/></svg></div>
                <div class="">
                    <div class="md:text-4xl text-2xl font-bold">Shin City</div>
                    <div class="md:text-lg text-sm text-gray-400 md:mt-1">16 April 2022</div>
                </div>
            </div>
            <div class="text-right gap-4">
                <button class="hidden md:inline-block text-gray-700 px-4 py-3 rounded-md text-center border border-gray-600">Request payout</button>
                <button onclick="addTicket()" class="text-gray-700 md:px-4 md:py-3 py-2 px-3 rounded-md text-center border border-gray-600">Edit</button>
            </div>
        </div>

        <div class="block border-b overflow-auto sticky top-0 bg-white z-10 scrollbar">
            <ul class="block text-lg gap-8 flex text-gray-400 font-light whitespace-nowrap px-4 md:px-0">
                <li class="{% if dashboard %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="dashboard.html" class="py-2 inline-block">Dashboard</a></li>
                <li class="{% if attendees %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="attendees.html" class="py-2 inline-block">Attendees</a></li>
                <li class="{% if payments %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="payments.html" class="py-2 inline-block">Payments</a></li>
                <li class="{% if users %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="users.html" class="py-2 inline-block">Users</a></li>
                <li class="{% if refunds %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="refunds.html" class="py-2 inline-block">Refund Requests</a></li>
            </ul>
        </div>

        <div class="grid md:grid-cols-4 grid-cols-2 gap-4 md:py-8 pt-4 py-2 px-4 md:px-0">
            <div class="md:p-6 p-4 bg-orange-100 rounded-lg">
                <div class="text-sm md:text-md mb-4">Tickets sold</div>
                <div class="md:text-2xl text-xl">123 <span class="opacity-40">/ 6000</span></div>
            </div>
            <div class="md:p-6 p-4 bg-purple-100 rounded-lg">
                <div class="text-sm md:text-md mb-4">Net Revenue</div>
                <div class="md:text-2xl text-xl">KES. 250,000</div>
            </div>
            <div class="md:p-6 p-4 bg-teal-100 rounded-lg">
                <div class="text-sm md:text-md mb-4">Customers</div>
                <div class="md:text-2xl text-xl">345</div>
            </div>
            <div class="md:p-6 p-4 bg-red-100 rounded-lg">
                <div class="text-sm md:text-md mb-4">Tickets validated</div>
                <div class="md:text-2xl text-xl">0 / 200</div>
            </div>
        </div>

        <div class="block py-8">
            <div class="text-xl mb-3 px-4 md:px-0">Sales by ticket type</div>
            <table class="w-full">
                <thead>
                <tr class="text-left bg-gray-100 text-gray-400">
                    <th class="py-2 px-4 font-normal">Type</th>
                    <th class="py-2 px-4 font-normal hidden md:table-cell">Status</th>
                    <th class="py-2 px-4 font-normal hidden md:table-cell">Price</th>
                    <th class="py-2 px-4 font-normal text-right md:text-left">Tickets sold</th>
                    <th class="py-2 px-4 font-normal text-right hidden md:table-cell">Revenue</th>
                    <th class="w-1 py-2 px-4 font-normal hidden md:table-cell"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b align-top">
                    <td class="py-4 px-4 border-l-8 border-red-500 md:border-none">
                        <div class="md:text-lg text-md">General Admission</div>
                        <div class="text-sm text-gray-500 my-1">Early bird tickets</div>
                        <div class="text-xs text-gray-400 block md:hidden">Price: 2,500/-</div>
                    </td>
                    <td class="py-4 px-4 hidden md:table-cell">
                        <div class="inline-block rounded text-sm px-3 py-1 bg-red-400 text-white">Sold Out</div>
                    </td>
                    <td class="py-4 px-4 hidden md:table-cell">
                        <div class="text-lg">KES. 2,500</div>
                    </td>
                    <td class="py-4 px-4">
                        <div class="md:text-lg text-md text-right md:text-left">123 <span class="text-sm text-gray-500">/ 500</span></div>
                        <div class="relative h-2 rounded-full bg-gray-100 my-1 w-full"><div class="absolute top-0 left-0 h-2 rounded-full bg-green-400" style="width: 49%;"></div></div>
                        <div class="text-xs mt-1.5 text-gray-400 md:block hidden">100 complementary</div>
                        <div class="text-sm mt-2 md:hidden block text-right md:text-left">Total: 250,000/-</div>
                    </td>
                    <td class="py-4 px-4 text-right hidden md:table-cell">
                        <div class="text-lg">KES. 250,000</div>
                    </td>
                    <td class="py-4 px-4 text-right hidden md:table-cell">
                        <div class="relative dropdown">
                            <button class="px-1 py-1 border rounded"><svg width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6 -6-6Z"/><path fill="none" d="M0-.75h24v24H0Z"/></svg></button>

                            <div class="dropdown-menu hidden absolute right-0 border rounded whitespace-nowrap divide-y bg-white text-xs shadow-lg text-left text-gray-500 z-20">
                                <div class="block py-2 px-4 hover:text-red-500 hover:bg-red-50">Disable</div>
                                <div class="block py-2 px-4 hover:text-red-500 hover:bg-red-50">Mark sold out</div>
                                <div onclick="editTicketType()" class="block py-2 px-4 hover:text-blue-500 hover:bg-blue-50">Edit details</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="border-b align-top">
                    <td class="py-4 px-4 border-l-8 border-green-500 md:border-none">
                        <div class="md:text-lg text-md">General Admission</div>
                        <div class="text-sm text-gray-500 my-1">Regular tickets</div>
                        <div class="text-xs text-gray-400 block md:hidden">Price: 3,000/-</div>
                    </td>
                    <td class="py-4 px-4 hidden md:table-cell">
                        <div class="inline-block rounded text-sm px-3 py-1 bg-gray-400 text-white">Inactive</div>
                    </td>
                    <td class="py-4 px-4 hidden md:block">
                        <div class="text-lg">KES. 3,000</div>
                    </td>
                    <td class="py-4 px-4">
                        <div class="md:text-lg text-md text-right md:text-left">8 <span class="text-sm text-gray-500">/ 2,000</span></div>
                        <div class="relative h-2 rounded-full bg-gray-100 my-1 w-full"><div class="absolute top-0 left-0 h-2 rounded-full bg-green-400" style="width: 9%;"></div></div>
                        <div class="text-xs mt-1.5 text-gray-400 md:block hidden">2 complementary</div>
                        <div class="text-sm mt-2 md:hidden block text-right md:text-left">Total: 250,000/-</div>
                    </td>
                    <td class="py-4 px-4 text-right hidden md:block">
                        <div class="text-lg">KES. 34,000</div>
                    </td>
                    <td class="py-4 px-4 text-right hidden md:table-cell">
                        <div class="relative dropdown">
                            <button class="px-1 py-1 border rounded"><svg width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6 -6-6Z"/><path fill="none" d="M0-.75h24v24H0Z"/></svg></button>

                            <div class="dropdown-menu hidden absolute right-0 border rounded whitespace-nowrap divide-y bg-white text-xs shadow-lg text-left text-gray-500 z-20">
                                <div class="block py-2 px-4 hover:text-red-500 hover:bg-red-50">Activate</div>
                                <div class="block py-2 px-4 hover:text-red-500 hover:bg-red-50">Mark sold out</div>
                                <div onclick="editTicketType()" class="block py-2 px-4 hover:text-blue-500 hover:bg-blue-50">Edit details</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="border-b align-top">
                    <td class="py-4 px-4">
                        <div class="md:text-lg text-md">G.O.A.T. tickets</div>
                        <div class="text-sm text-gray-500 my-1">VIP tickets</div>
                        <div class="text-xs text-gray-400 block md:hidden">Price: 8,000/-</div>
                    </td>
                    <td class="py-4 px-4 hidden md:table-cell">
                        <div class="inline-block rounded text-sm px-3 py-1 bg-green-400 text-white">Active</div>
                    </td>
                    <td class="py-4 px-4 hidden md:block">
                        <div class="text-lg">KES. 8,000</div>
                    </td>
                    <td class="py-4 px-4">
                        <div class="md:text-lg text-md text-right md:text-left">0 <span class="text-sm text-gray-500">/ 500</span></div>
                        <div class="relative h-2 rounded-full bg-gray-100 my-1 w-full"><div class="absolute top-0 left-0 h-2 rounded-full bg-green-400" style="width: 0%;"></div></div>
                        <div class="text-sm mt-2 md:hidden block text-right md:text-left">Total: 0/-</div>
                    </td>
                    <td class="py-4 px-4 text-right hidden md:block">
                        <div class="text-lg">KES. 0</div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="text-gray-600">
                <tr>
                    <td colspan="6" class="border-t-8 border-gray-200 h-6"></td>
                </tr>
                <tr>
                    <td colspan="3" class="hidden md:table-cell"></td>
                    <td class="py-1 px-4 md:text-lg text-sm md:text-right">Gross Revenue</td>
                    <td class="py-1 px-4 md:text-lg text-sm text-right">KES. 120,000</td>
                </tr>
                <tr>
                    <td colspan="3" class="hidden md:table-cell"></td>
                    <td class="py-1 px-4 md:text-lg text-sm md:text-right">TOKEA commission (6%)</td>
                    <td class="py-1 px-4 md:text-lg text-sm text-right">KES. 3,000</td>
                </tr>
                <tr>
                    <td colspan="3" class="hidden md:table-cell"></td>
                    <td class="py-1 px-4 md:text-lg text-sm md:text-right">Net Revenue</td>
                    <td class="py-1 px-4 md:text-lg text-sm text-right">KES. 117,000</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="my-8 rounded-lg border md:p-4">
            <div class="flex md:mb-2 px-4 py-2 md:p-0">
                <div class="text-2xl flex-grow">Tickets</div>
                <div class="text-right flex-shrink">
                    <div class="inline-flex text-sm divide-x border bg-white rounded-md overflow-hidden text-gray-400">
                        <button class="px-3 py-2 bg-gray-50 text-gray-800">7 days</button>
                        <button class="px-3 py-2">30 days</button>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 rounded h-56"></div>
        </div>

        <div class="md:grid md:grid-cols-3 gap-6 px-4 md:px-0">
            <div class="col my-8 px-4 md:px-6 py-4 rounded-md bg-green-100">
                <div class="block">
                    <div class="text-lg">Complementary tickets</div>
                    <div class="text-gray-500"><span class="font-medium">23</span> <span class="text-xs">/ 100 tickets</span></div>
                </div>
                <div class="block mt-4">
                    <button class="text-sm px-4 py-2 bg-green-500 text-white rounded-md" onclick="createComplementary()">Create ticket</button>
                </div>
            </div>
            <div class="col my-8 px-4 md:px-6 py-4 rounded-md bg-gray-100">
                <div class="block">
                    <div class="text-lg">Test tickets</div>
                    <div class="text-gray-500"><span class="font-medium">23</span> <span class="text-xs">/ 340 tickets validated</span></div>
                </div>
                <div class="block mt-4">
                    <button class="text-sm px-4 py-2 bg-blue-400 text-white rounded-md">Download</button>
                    <button class="text-sm px-4 py-2 bg-gray-400 text-white rounded-md">Generate tickets</button>
                </div>
            </div>

            <div class="col my-8 px-4 md:px-6 py-4 rounded-md bg-blue-50 items-center">
                <div class="block">
                    <div class="text-lg">Event link</div>
                    <a href="#" class="text-blue-600 underline">https://tokea.com/event/3</a>
                </div>
                <div class="block mt-4">
                    <button class="text-sm px-4 py-2 bg-green-500 text-white rounded-md">Copy link</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
