{% set homepage = true %}
{% set title = "Tokea" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}


<div class="relative md:h-96 md:mb-6" >
    <div class="h-96 md:absolute left-0 right-0 overflow-hidden md:block hidden">
        <div class="absolute top-0 bottom-0 w-full scale-105" style="background: #000 url('https://tokeabucket.s3.us-east-2.amazonaws.com/Events/tokea-shincity-square.jpg') center no-repeat; background-size: cover; filter: blur(10px); -webkit-filter: blur(10px); "></div>
    </div>
    <div class="relative md:max-w-7xl mx-auto md:text-center">
        <img src="https://tokeabucket.s3.us-east-2.amazonaws.com/Events/tokea-shincity-square.jpg" class="md:inline-block block bg-black aspect-1-1 md:h-96 w-full md:w-auto">
    </div>
</div>

<div class="l-event">
    <div class="jumbo hidden">
        <img src="images/tokea-005-shincity.jpeg" class="img-mobile" />
        <img src="images/tokea-shincity-banner-2.jpg" class="img-desktop" />
    </div>

    <div class="details">
        <div class="main">
            <div class="info">
                <div class="info-top">
                    <div class="date">
                        <div class="text-xs md:text-lg">APR</div>
                        <div class="md:text-3xl text-xl text-red-500 font-medium">16</div>
                    </div>
                    <div class="name">
                        <div class="md:text-4xl text-3xl font-medium md:mb-2 mb-1">Shin City</div>
                        <div class="text-sm md:text-xl text-gray-500">Carnivore Grounds</div>
                    </div>
                </div>
                <div class="info-description">
                    <p>Shin City will be the official fiction city for Nyashinski. A one-time opportunity for fans to get to know Nyashinski as an artist.</p>
                    <p>We will leverage the art of story-telling through music to bring out the true nature of the artist. With different stage layout for each music segment, Nyashinski will perform with his Band for a two-hour dynamic set.</p>
                    <p>He will also be joined by his fellow artists and friends that he has collaborated with in the past.</p>
                    <p><strong>DISCLAIMER:</strong><br />
                    1. You are bound to have an experience of a lifetime.<br />
                        2. Shin City production intends to use stroboscopic lighting displays to potentially trigger seizures for people with photosensitive Epilepsy. </p>
                </div>
            </div>
            <div class="tickets">
                <div class="tickets-title">Tickets</div>
                <div class="tickets-container">
                    <div class="border-b p-6 bg-gray-50">
                        <div class="block mb-3">
                            <label class="block mb-2 text-sm font-medium text-gray-400">Select Venue</label>
                            <select class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-md">
                                <option>Junction Mall</option>
                            </select>
                        </div>
                        <div class="flex gap-6 mb-5">
                            <div class="w-1/2">
                                <label class="block mb-2 text-sm font-medium text-gray-400">Select Date</label>
                                <select class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-md">
                                    <option>Thursday 10th</option>
                                </select>
                            </div>
                            <div class="w-1/2">
                                <label class="block mb-2 text-sm font-medium text-gray-400">Select Screen</label>
                                <select class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-md">
                                    <option>Screen 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="block">
                            <label class="block mb-1 text-sm font-medium text-gray-400">Show</label>
                            <div class="text-lg">Round of 16 (Game 7) - Germany vs Croatia</div>
                        </div>
                    </div>
                    <div class="tickets-main">
                        <table>
                            <thead>
                            <tr class="tickets-head">
                                <th>Ticket</th>
                                <th class="px-4">Cost</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-right">Sub Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tickets-item">
                                <td>
                                    <div class="text-md">General&nbsp;Admission</div>
                                    <div class="text-sm opacity-75">Early bird</div>
                                </td>
                                <td>1,500</td>
                                <td>
                                    <div class="tickets-count">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99ZM7 9l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h6l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-6Z"/></svg></button>
                                        <input class="input" value="1">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99Zm1-11v0c0-.56-.45-1-1-1 -.56 0-1 .44-1 1v2H7l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h2v2l0 0c0 .55.44.99 1 .99 .55-.01.99-.45.99-1.01v-2h2l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-2v-2Z"/></svg></button>
                                    </div>
                                </td>
                                <td class="text-right font-medium">1,500</td>
                            </tr>
                            <tr class="tickets-item">
                                <td>General Admission</td>
                                <td>1,500</td>
                                <td>
                                    <div class="tickets-count">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99ZM7 9l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h6l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-6Z"/></svg></button>
                                        <input class="input" value="1">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99Zm1-11v0c0-.56-.45-1-1-1 -.56 0-1 .44-1 1v2H7l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h2v2l0 0c0 .55.44.99 1 .99 .55-.01.99-.45.99-1.01v-2h2l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-2v-2Z"/></svg></button>
                                    </div>
                                </td>
                                <td class="text-right font-medium">1,500</td>
                            </tr>
                            <tr class="tickets-item">
                                <td>GOAT</td>
                                <td>1,500</td>
                                <td>
                                    <div class="tickets-count">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99ZM7 9l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h6l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-6Z"/></svg></button>
                                        <input class="input" value="1">
                                        <button><svg class="w-6 h-6" fill="#c20e1a" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18l-.01-.001c4.41 0 8-3.59 8-8 0-4.42-3.59-8-8-8.01l-.01 0c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 7.99Zm1-11v0c0-.56-.45-1-1-1 -.56 0-1 .44-1 1v2H7l-.01 0c-.56 0-1 .44-1 1 0 .55.44 1 1 .99h2v2l0 0c0 .55.44.99 1 .99 .55-.01.99-.45.99-1.01v-2h2l-.01-.001c.55 0 1-.45 1-1 0-.56-.45-1-1-1.01h-2v-2Z"/></svg></button>
                                    </div>
                                </td>
                                <td class="text-right font-medium">1,500</td>
                            </tr>
    
                            <tr>
                                <td colspan="2" class="py-4">
                                    <div class="text-md font-medium">Sub Total</div>
                                </td>
                                <td colspan="2" class="py-4 text-right">
                                    <div class="text-lg font-medium">KES 1500</div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="tickets-footer">
                                <td colspan="2">Total</td>
                                <td colspan="2">KES. 1,510</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="my-2 text-xs text-gray-500">
                    By purchasing these ticket(s) and/or registrations you are agreeing to be bound by Tokea <a href="#" class="underline">Terms & Conditions</a>, and by the <a href="#" class="underline">Privacy Policy</a>. You must not use or access the Site or deal with the tickets you purchase in violation of these Terms. If you choose not to be bound by the Terms then you must not use the Site or purchase tickets from the Site.
                </div>
                <div class="tickets-cta">
                    <a href="pay.html" class="link">
                        <div class="link-f">
                            <div class="l">Pay now</div>
                            <div class="r">KES 2000</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative md:my-12 my-4 hidden" id="select-tickets">
    <div class="container max-w-6xl max-w-5xl mx-auto">
        <div class="md:flex border">
            <div class="md:w-3/5 md:px-10 px-4 py-6 md:border-r">
                <div class="text-xl font-bold">Select tickets</div>
                <div class="text-sm text-gray-600 mb-6">All amounts are in Kenyan Shilling (KES)</div>
                <table class="text-gray-600 w-full my-4 text-left">
                    <thead>
                    <tr class="text-xs text-gray-500">
                        <th class="pb-2">Ticket</th>
                        <th class="text-right px-4 pb-2">Cost</th>
                        <th class="pb-2 text-center">Quantity</th>
                        <th class="pb-2 text-right">Sub Total</th>
                    </tr>
                    </thead>
                    <tbody class="text-sm md:text-md">
                    <tr>
                        <td class="py-1 font-medium">Early bird</td>
                        <td class="py-1 px-4 text-md text-right font-medium">1,500</td>
                        <td class="py-1 text-md">
                            <select class="w-full bg-white rounded-sm border px-4 py-2">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                        <td class="py-1 text-md text-right font-medium">1,500</td>
                    </tr>
                    <tr>
                        <td class="py-1 font-medium">At the gate</td>
                        <td class="py-1 px-4 text-md text-right font-medium">2,000</td>
                        <td class="py-1 text-md">
                            <select class="w-full bg-white rounded-sm border px-4 py-2">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                        <td class="py-1 text-md text-right font-medium"></td>
                    </tr>
                    <tr>
                        <td class="py-1 font-medium">VVIP</td>
                        <td class="py-1 px-4 text-md text-right font-medium">3,000</td>
                        <td class="py-1 text-md">
                            <select class="w-full bg-white rounded-sm border px-4 py-2">
                                <option selected></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                        <td class="py-1 text-md text-right font-medium"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="flex md:mt-6 border-t md:pt-6 pt-2">
                    <div class="flex-shrink text-lg font-medium text-gray-600">Total</div>
                    <div class="flex-grow text-lg text-right font-medium">KES. 1,500</div>
                </div>
            </div>
            <div class="md:w-2/5 md:px-10 px-4 py-6 bg-gray-50 border-t md:border-t-0">
                <div class="my-4 hidden">
                    <div class="text-xs">Coupon code</div>
                    <div class="flex my-1">
                        <input class="flex-grow border bg-white px-3 py-2 outline-none" placeholder="XXXX" />
                        <button class="bg-black text-white px-3 py-2">Apply code</button>
                    </div>
                </div>

                <div class="pb-4">
                    <div class="text-xl font-bold">Pay now</div>
                    <div class="text-sm">KES. 1,500</div>
                </div>

                <div class="pt-4">
                    <div class="md:flex gap-4 pb-4">
                        <div class="block mb-4 md:mb-0">
                            <div class="text-xs mb-1 text-gray-600">Enter email*</div>
                            <input class="px-3 py-2 border text-sm w-full outline-none border-gray-300" type="email" placeholder="james@example.com">
                        </div>
                        <div class="block">
                            <div class="text-xs mb-1 text-gray-600">Phone number*</div>
                            <input class="px-3 py-2 border text-sm w-full outline-none border-gray-300" type="tel" placeholder="2547xxxxxxxx">
                        </div>
                    </div>
                    <div class="pt-4 pb-1 text-xs text-gray-400">By paying for the tickets, you automatically agree to our Terms and Conditions, and Privacy Policy.</div>
                    <a href="pay.html" class="px-3 py-3 bg-pay text-white font-bold w-full mt-4">Pay with MPESA</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
