{% set homepage = true %}
{% set title = "Tokea" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}
<div class="l-jumbo">
    <a href="event-details.html">
        <img src="https://tokeabucket.s3.us-east-2.amazonaws.com/Events/tokea-jumbo-shin-city.png" class="desktop w-full" />
        <img src="https://tokeabucket.s3.us-east-2.amazonaws.com/Events/tokea-jumbo-shin-city-mobile.png" class="mobile w-full" />
    </a>
</div>
{% include "partials/nav-utilities.html" %}

{% include "partials/upcoming.html" %}

{% include "partials/l-footer.html" %}
{% endblock %}
