{% set homepage = false %}
{% set title = "Login" %}
{% extends "base.html" %}
{% block content %}

<div class="l-onboard">
    <div class="l-onboard-bg"></div>
    <div class="l-onboard-container">
        <div class="l-onboard-block">
            <div class="title">Welcome back</div>
            <form method="get" action="code.html">
                <div class="label">Enter your phone number</div>
                <input class="input" placeholder="Phone number">
                <button class="btn">Continue</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}