{% set loggedin = true %}
{% set title = "My events" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative min-h-screen">
    <div class="max-w-7xl max-h-screen mx-auto md:my-12 my-6 md:px-6 px-0">
        <div class="grid grid-cols-2 mb-2 place-content-center px-4 md:px-0">
            <div class="col md:text-4xl text-2xl font-bold">My events</div>
            <div class="col text-right">
                <a href="add-event.html" class="px-4 py-3 text-white bg-red-700 font-bold rounded-md text-sm">Create event</a>
            </div>
        </div>

        <div class="block md:mt-12 mt-6">
            <table class="my-4 w-full md:border place-content-top">
                <thead>
                <tr class="text-left bg-gray-100 text-gray-500 text-sm font-medium">
                    <th class="py-3 px-4">Name of event</th>
                    <th class="py-3 px-4 w-min hidden md:block">Status</th>
                    <th class="py-3 px-4 text-right md:text-left">Tickets</th>
                    <th class="py-3 px-4 text-right hidden md:block">Revenue</th>
                </tr>
                </thead>
                <tbody class="divide-y">
                <tr class="cursor-pointer">
                    <td class="py-4 px-4">
                        <div class="flex items-start">
                            <img src="#" class="h-12 aspect-1-1 bg-gray-100 rounded-sm hidden md:inline-block mr-4" />
                            <a href="dashboard.html" class="hover:text-blue-600">
                                <div class="font-medium text-xl md:text-md">Shin City</div>
                                <div class="text-sm text-gray-500 font-light">23 Jan 2022</div>
                                <div class="inline-block md:hidden text-white text-xs bg-green-600 font-bold px-2 py-1 rounded-md inline-block text-center inline-block">LIVE</div
                            </a>
                        </div>
                    </td>
                    <td class="py-4 pl-4 hidden md:block">
                        <div class="text-white text-xs bg-green-600 font-bold px-2 py-1 rounded-md inline-block text-center inline-block">LIVE</div>
                    </td>
                    <td class="py-4 px-4 text-right md:text-left">
                        <div class="block mb-1 text-md">249 / 500</div>
                        <div class="block relative h-1 bg-gray-200"><div class="absolute h-1 bg-green-400" style="width: 49%; max-width: 100%;"></div></div>
                        <div class="text-sm mt-1 text-gray-500">Total: 1,290,000/-</div>
                    </td>
                    <td class="py-4 px-4 text-right font-medium hidden md:block">KES 1,290,000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
