{% set loggedin = true %}
{% set title = "My tickets" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="l-tickets">
    <div class="l-tickets-title">My Tickets</div>

    <div class="relative">
        <div class="l-tickets-container">
            <div class="l-tickets-side">
                <a href="#" class="active">Upcoming</a>
                <a href="#">Past Events</a>
                <a href="#">Cancelled</a>
            </div>
            <div class="l-tickets-list">
                <div class="list">
                    <div class="list-title">
                        <div class="l">Upcoming events</div>
                        <div class="r"><svg height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7L5 9"/></svg></div>
                    </div>
                    <a href="ticket-details.html">
                        <div class="date">
                            <div class="t">SEP</div>
                            <div class="b">14</div>
                        </div>
                        <div class="img"><img src="images/tokea-005-shincity.jpeg" /></div>
                        <div class="det">
                            <div class="det-1">Shin City</div>
                            <div class="det-2">KICC, Nairobi</div>
                            <div class="det-3">2 x Regular tickets</div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <div class="list-title">
                        <div class="l">Past events</div>
                        <div class="r"><svg height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7L5 9"/></svg></div>
                    </div>
                    <a href="ticket-details.html">
                        <div class="date">
                            <div class="t">SEP</div>
                            <div class="b">14</div>
                        </div>
                        <div class="img"><img src="images/tokea-005-shincity.jpeg" /></div>
                        <div class="det">
                            <div class="det-1">Shin City</div>
                            <div class="det-2">KICC, Nairobi</div>
                            <div class="det-3">2 x Regular tickets</div>
                        </div>
                    </a>
                    <a href="ticket-details.html">
                        <div class="date">
                            <div class="t">SEP</div>
                            <div class="b">14</div>
                        </div>
                        <div class="img"><img src="images/tokea-005-shincity.jpeg" /></div>
                        <div class="det">
                            <div class="det-1">Shin City</div>
                            <div class="det-2">KICC, Nairobi</div>
                            <div class="det-3">2 x Regular tickets</div>
                        </div>
                    </a>
                </div>

                <div class="list empty">
                    <svg height="75" class="inline-block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5l-.01 0c-1.11 0-2 .89-2 2 0 0 0 0 0 0v3l-.01 0c1.1-.01 2 .89 2 1.99s-.9 2-2 2v3l0 0c0 1.1.89 1.99 2 1.99h14l-.01-.001c1.1 0 2-.9 2-2v-3l-.01-.001c-1.11-.01-2-.9-2-2.01 0-1.11.89-2 2-2v-3.01 0c0-1.11-.9-2-2-2h-14Z"/></svg>
                    <div class="text">No upcoming events</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
