{% set homepage = true %}
{% set title = "Tokea" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative bg-gray-50 border-b hidden">
    <div class="container mx-auto max-w-6xl px-4">
        <div class="flex py-6">
            <svg class="flex-shrink align-middle mr-3" width="24" height="24" fill="#00D716" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h48v48H0Z"/><path d="M24 4C12.95 4 4 12.95 4 24c0 11.04 8.95 20 20 20 11.04 0 20-8.96 20-20 0-11.05-8.96-20-20-20Zm-4 30L10 24l2.83-2.83L20 28.34l15.17-15.17L38 16 20 34Z"/></svg>
            <div class="flex-grow align-middle"><span class="font-medium text-lg">Ticket #123456</span> created successfully</div></div>
    </div>
</div>

<div class="l-pay">
    <div class="l-pay-title">
        <svg fill="#c20e1a" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8v0c0 4.41-3.59 8-8 8 -4.42 0-8-3.59-8-8l0 0C-.01 3.58 3.58-.01 7.99-.01c4.41-.01 8 3.58 8 7.99 0 0 0 0 0 0Zm-4.5.5h-.01c.27 0 .5-.23.5-.5 0-.28-.23-.5-.5-.51h-5.8l2.14-2.15 0-.01c.19-.2.19-.52-.01-.71 -.2-.2-.52-.2-.71 0l-3 3 -.01 0c-.2.19-.2.51-.01.7 0 0 0 0 0 0l3 3 -.01-.01c.19.19.51.19.7 0 .19-.2.19-.52 0-.71 0 0 0 0 0 0L5.63 8.45h5.793Z"/></svg>
        <div class="text">Complete Payment</div>
    </div>
    <div class="l-pay-ticket">
        <form action="complete.html" class="l-pay-ticket-payment">
            <div class="title">Choose payment method</div>
            <div class="checkout">
                <div class="tab">
                    <button class="btn">MPESA</button>
                    <button class="btn active">VISA / Mastercard</button>
                </div>
                <div class="in">
                    <label>Full Name *</label>
                    <input type="tel" required placeholder="James Doe" />
                </div>
                <div class="flex gap-4">
                    <div class="w-2/5 in">
                        <label>Mobile number *</label>
                        <input type="tel" required placeholder="07xxxxxxxx" />
                    </div>
                    <div class="w-3/5 in">
                        <label>Email *</label>
                        <input type="tel" required placeholder="james@example.com" />
                    </div>
                </div>
            </div>

            <button class="cta" type="submit">Next</button>

            <div class="block mt-6 border-t md:border-t-0 pt-4 md:pt-0 hidden">
                <div class="text-lg mb-4 font-bold">Payment instructions</div>
                <div class="block mb-8 text-sm text-center md:text-left">Pay within <strong>15 minutes</strong> to reserve your spot. Follow the steps below to complete the purchase.</div>
                <div class="mb-20 text-sm">
                    1. Go to MPESA Menu<br />
                    2. Choose Lipa na MPESA option<br />
                    3. Choose Paybill option<br />
                    4. Enter Paybill number <strong>3031313</strong><br />
                    5. Enter Account <strong>TOK4098</strong><br />
                    6. Enter Amount <strong>1500</strong><br />
                    7. Enter your MPESA PIN to complete the transaction
                </div>
            </div>

        </form>
        <div class="l-pay-ticket-details">
            <div class="title">Ticket details</div>
            <div class="details">
                <table>
                    <thead>
                    <tr class="text-xs text-gray-400 font-normal">
                        <th class="pb-2">Ticket</th>
                        <th class="px-4 pb-2">Cost</th>
                        <th class="pb-2 w-1">Quantity</th>
                        <th class="pb-2 text-right">Sub Total</th>
                    </tr>
                    </thead>
                    <tbody class="text-sm md:text-md">
                    <tr class="border-b">
                        <td class="py-6">
                            <div class="md:text-lg text-sm font-medium">Early bird</div>
                        </td>
                        <td class="py-6 px-4 md:text-lg text-sm align-top font-medium">KES 1,500</td>
                        <td class="py-6 align-top font-medium md:text-lg text-sm">1</td>
                        <td class="py-6 md:text-lg text-sm text-right font-medium align-top">KES 1,500</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="py-4 text-xl font-medium text-gray-800">Total</td>
                        <td colspan="2" class="py-4 text-xl text-right text-gray-800 font-bold">KES. 1,510</td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
