{% set title = "Terms & Conditions" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-7xl mx-auto min-h-screen">
    <div class="block py-6 md:px-6 px-4">
        <div class="text-4xl font-bold">Privacy Policy</div>
        <div class="md:grid md:grid-cols-4 pt-4 gap-6">
            <div class="md:col-span-3">
                <p class="text-lg">At TOKEA, accessible from www.tokea.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by TOKEA and how we use it.</p>
                <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
                <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in TOKEA. This policy is not applicable to any information collected offline or via channels other than this website.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-1">Consent</h2>
                <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                    Information we collect</p>
                <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
                <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
                <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-2">How we use your information</h2>
                <p>We use the information we collect in various ways, including to:</p>
                <p>- Provide, operate, and maintain our website<br />
                    - Improve, personalize, and expand our website<br />
                    - Understand and analyze how you use our website<br />
                    - Develop new products, services, features, and functionality<br />
                    - Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes<br />
                    - Send you emails<br />
                    - Find and prevent fraud</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-3">Log files</h2>
                <p>TOKEA follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-4">Cookies and Web Beacons</h2>
                <p>Like any other website, TOKEA uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-5">Advertising Partners Privacy Policies</h2>
                <p>You may consult this list to find the Privacy Policy for each of the advertising partners of TOKEA.</p>
                <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on TOKEA, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
                <p>Note that TOKEA has no access to or control over these cookies that are used by third-party advertisers.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-6">Third Party Privacy Policies</h2>
                <p>TOKEA's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
                <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

                <h2 class="py-4 text-2xl font-medium" id="tc-7">Children's Information</h2>
                <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
                <p>TOKEA does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
                <p>For any other information please contact us at info@tokea.com or 115555000</p>
            </div>
            <div class="md:block hidden">
                <div class="bg-gray-100 rounded-md p-4 sticky top-0">
                    <a class="font-medium pb-3">Table of contents</a>
                    <a href="#tc-1" class="block text-sm mb-2">Consent</a>
                    <a href="#tc-2" class="block text-sm mb-2">How we use your information</a>
                    <a href="#tc-3" class="block text-sm mb-2">Log files</a>
                    <a href="#tc-4" class="block text-sm mb-2">Cookies and Web Beacons</a>
                    <a href="#tc-5" class="block text-sm mb-2">Advertising Partners Privacy Policies</a>
                    <a href="#tc-6" class="block text-sm mb-2">Third Party Privacy Policies</a>
                    <a href="#tc-7" class="block text-sm mb-2">Children's Information</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}