{% set title = "Tokea" %}
{% extends "base.html" %}
{% block content %}
{% include "partials/l-header.html" %}
<div class="relative max-w-xl mx-auto px-4 py-8">
    <div class="block">
        <div class="mx-auto text-center">
            <svg width="100" class="inline-block" fill="#c10f1a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M6 12c0 .55-.45 1-1 1 -.56 0-1-.45-1-1 0-.56.44-1 1-1 .55 0 1 .44 1 1Z"/><path d="M9 13c.55 0 1-.45 1-1 0-.56-.45-1-1-1 -.56 0-1 .44-1 1 0 .55.44 1 1 1Z"/><path d="M14 12c0 .55-.45 1-1 1 -.56 0-1-.45-1-1 0-.56.44-1 1-1 .55 0 1 .44 1 1Z"/><path d="M20 11h-4v2h4v-2Z"/><path fill-rule="evenodd" d="M2 6C.89 6 0 6.89 0 8v8c0 1.1.89 2 2 2h20c1.1 0 2-.9 2-2V8c0-1.11-.9-2-2-2H2Zm20 2H2v8h20V8Z"/></g></svg>
        </div>

        <div class="text-center text-2xl font-medium">Redeem your code</div>
        <div class="text-center text-md mb-8 text-neutral-500">Enter the unique code you received to get your tickets</div>
        <div class="block mt-2">
            <label class="block text-gray-700 mb-1">Unique code *</label>
            <input class="block px-3 py-2 outline-none border focus:border-gray-500 border-gray-300 text-lg rounded-md w-full" placeholder="XXXXXXXX" />
        </div>
        <div class="py-2 block"></div>
        <div class="block mt-4">
            <label class="block text-gray-600 text-xs mb-1">Full names *</label>
            <input class="block px-4 py-3 outline-none border focus:border-gray-500 border-gray-300 rounded-md w-full" placeholder="James Doe" />
        </div>
        <div class="flex w-full gap-3">
            <div class="w-1/3 block mt-4">
                <label class="block text-gray-600 text-xs mb-1">Phone number *</label>
                <input class="block px-3 py-2 outline-none border focus:border-gray-500 border-gray-300 rounded-md w-full" placeholder="07xxxxxxxx" />
            </div>
            <div class="w-2/3 block mt-4">
                <label class="block text-gray-600 text-xs mb-1">Email *</label>
                <input class="block px-3 py-2 outline-none border focus:border-gray-500 border-gray-300 rounded-md w-full" placeholder="name@example.com" />
            </div>
        </div>
        <div class="h-6"></div>
        <div class="mt-4 text-xs text-neutral-400">
            By clicking the button below, you automatically agree to our <a href="/terms.html" class="underline">Terms and Conditions</a>, and <a href="privacy.html" class="underline">Privacy Policy</a>.
        </div>
        <button class="block mt-4 py-2 px-4 bg-[#c10f1a] text-white rounded-md w-full text-lg font-medium">Redeem Code</button>
        <div class="h-24"></div>
    </div>
</div>
{% include "partials/l-footer.html" %}
{% endblock %}