{% set loggedin = true %}
{% set title = "My tickets" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="l-ticket">
    <div class="l-ticket-container">
        <div class="relative">
            <div class="l-ticket-image">
                <div class="circle"></div>
                <img src="images/tokea-005-shincity.jpeg" class="z-10"/>
                <div class="title">
                    <div class="t">Shin City</div>
                    <div class="b">Fri, 23 Feb, 6:30pm</div>
                    <div class="s">Carnivore Grounds</div>
                </div>
            </div>
            <div class="l-ticket-links">
                <div class="links">
                    <a href="ticket.html" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 14.272 17.921"><path id="ticket" d="M10.948,0V1.825m0,3.649V7.3m0,3.649v1.825M1.825,0A1.825,1.825,0,0,0,0,1.825V4.561A1.825,1.825,0,0,1,1.825,6.386,1.825,1.825,0,0,1,0,8.211v2.737a1.825,1.825,0,0,0,1.825,1.825H14.6a1.825,1.825,0,0,0,1.825-1.825V8.211a1.825,1.825,0,1,1,0-3.649V1.825A1.825,1.825,0,0,0,14.6,0Z" transform="translate(0.75 17.171) rotate(-90)" fill="none" stroke="#b20000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                        <span class="flex-grow ml-4">1 x Regular tickets</span>
                        <svg viewBox="0 0 24 24" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59 -4.58-4.59L10 5.75l6 6 -6 6Z"/><path fill="none" d="M0-.25h24v24H0Z"/></svg>
                    </a>
                    <a href="ticket.html" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 14.272 17.921"><path id="ticket" d="M10.948,0V1.825m0,3.649V7.3m0,3.649v1.825M1.825,0A1.825,1.825,0,0,0,0,1.825V4.561A1.825,1.825,0,0,1,1.825,6.386,1.825,1.825,0,0,1,0,8.211v2.737a1.825,1.825,0,0,0,1.825,1.825H14.6a1.825,1.825,0,0,0,1.825-1.825V8.211a1.825,1.825,0,1,1,0-3.649V1.825A1.825,1.825,0,0,0,14.6,0Z" transform="translate(0.75 17.171) rotate(-90)" fill="none" stroke="#b20000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                        <span class="flex-grow ml-4">1 x GOAT tickets</span>
                        <svg viewBox="0 0 24 24" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59 -4.58-4.59L10 5.75l6 6 -6 6Z"/><path fill="none" d="M0-.25h24v24H0Z"/></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="md:col-span-2 relative md:ml-6">

            <div class="block my-4 mt-8">
                <div class="text-3xl mb-2 hidden md:block">Shin City</div>
                <div class="text-xl mb-2">Event details</div>
                <div class="block opacity-80">
                    <p>Shin City will be the official fiction city for Nyashinski. A one-time opportunity for fans to get to know Nyashinski
                        as an artist.</p>
                    <p>We will leverage the art of story-telling through music to
                        bring out the true nature of the artist.
                        With different stage layout for each music segment,
                        Nyashinski will perform with his Band for a two-hour
                        dynamic set.</p>
                    <p>He will also be joined by his fellow artists and friends that
                        he has collaborated with in the past.</p>
                </div>
            </div>

            <div class="block divide-y border-y text-red-600">
                <a href="event-details.html" class="block py-3">Event details</a>
                <a href="#" class="block py-3">Request to cancel tickets</a>
                <a href="#" class="block py-3">Contact organizer</a>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
