{% set loggedin = true %}
{% set title = "Ticket #bbb" %}
{% extends "base.html" %}
{% block content %}

<body class="relative bg-black" id="ticket">
    <div class="relative max-w-md mx-auto p-6">
        <div class="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 332 22.001"><path d="M-1156.987,372h-10.026c-.262-5.488-4.429-9.786-9.488-9.786s-9.225,4.3-9.487,9.786h-11.027c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-10.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-10.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-11.027c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-10.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-10.026c-.262-5.488-4.429-9.786-9.488-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786H-1460V350h332v22h-10.013c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786Z" transform="translate(-1128 372.001) rotate(180)" fill="#c20e1a"/></svg>
            <div class="top-info grid grid-cols-3 text-white place-content-center" style="background-color: #c20e1a;">
                <div class="col-span-2 px-4 pb-4">
                    <div class="text-2xl">Shin City</div>
                    <div class="text-lg">16 April, 4:00pm</div>
                    <div class="text-sm font-light opacity-80">Regular ticket</div>
                </div>
                <div class="col text-right pr-4 pb-4">
                    <img src="images/tokea-005-shincity.jpeg" class="h-20 inline-block" />
                </div>
            </div>
        </div>
        <div class="main bg-white text-center pt-4">
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=tokea.com" class="aspect-1-1 mt-4 inline-block" width="85%" />
            <div class="flex mt-4 items-center">
                <div class="flex-grow border-dashed border-gray-300 border-t-2"></div>
                <div class="flex-shrink text-sm text-gray-400 px-3">23982392</div>
                <div class="flex-grow border-dashed border-gray-300 border-t-2"></div>
            </div>
            <div class="block p-4 text-left grid grid-cols-2">
                <div class="col">
                    <div class="text-md text-gray-600">Wilson Gichuki</div>
                    <div class="text-xs text-gray-500">Purchased: 12 Feb, 3:45pm</div>
                </div>
                <div class="text-gray-600 text-right">
                    <div class="text-md font-medium">KES. 1,400</div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 332 22.001"><path d="M-1156.987,372h-10.026c-.262-5.488-4.429-9.786-9.488-9.786s-9.225,4.3-9.487,9.786h-11.027c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-10.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-10.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-11.027c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-10.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786h-10.026c-.262-5.488-4.429-9.786-9.488-9.786s-9.226,4.3-9.487,9.786h-11.026c-.262-5.488-4.428-9.786-9.487-9.786s-9.226,4.3-9.487,9.786H-1460V350h332v22h-10.013c-.262-5.488-4.429-9.786-9.487-9.786s-9.225,4.3-9.487,9.786Z" transform="translate(1460 -350)" fill="#fff"/></svg>
        </div>

        <div class="block text-center pt-8">
            <div class="block text-gray-500">
                <div class="text-xs">info@tokea.com \\ +254715000005</div>
            </div>
        </div>

        <div class="mx-8 mt-4">
            <button id="save-pdf" onclick="savePDF()" class="block text-center w-full px-4 py-3 bg-white bg-opacity-20 text-gray-400 rounded-full">Save PDF</button>
        </div>
    </div>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript">
        function savePDF (){
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({
                unit: "in",
                format: [8, 4]
            });
            var el = document.getElementById("ticket");
            console.log(el)
            doc.html(document.body, {
                callback: function (doc) {
                    doc.save();
                },
                x: 10,
                y: 10
            });
        }
    </script>
</body>
{% endblock %}
