{% set users, loggedin = true %}
{% set title = "Dashboard" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

<div class="relative max-w-7xl mx-auto min-h-screen">
    <div class="relative md:px-6 px-0">
        <div class="grid grid-cols-2 place-content-center md:py-8 py-4  px-4 md:px-0">
            <div class="flex">
                <div class="hidden md:block w-10 h-10 bg-red-500 rounded-full md:mr-6 mr-3 p-2"><svg fill="#fff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.7 16.707l0-.01c-.4.39-1.03.39-1.42 0l-6-6 0 0c-.4-.4-.4-1.03-.01-1.42l6-6 0-.01c.39-.39 1.03-.38 1.41.02 .37.38.37 1-.01 1.38l-4.3 4.29h11.586l-.01 0c.55-.01 1 .44 1 .99s-.45 1-1 1H5.35l4.29 4.29 -.01-.01c.39.39.39 1.02 0 1.41Z"/></svg></div>
                <div class="">
                    <div class="md:text-4xl text-2xl font-bold">Shin City</div>
                    <div class="md:text-lg text-sm text-gray-400 md:mt-1">16 April 2022</div>
                </div>
            </div>
            <div class="text-right gap-4">
                <button class="hidden md:inline-block text-gray-700 px-4 py-3 rounded-md text-center border border-gray-600">Request payout</button>
                <button class="text-gray-700 md:px-4 md:py-3 py-2 px-3 rounded-md text-center border border-gray-600">Edit</button>
            </div>
        </div>

        <div class="block border-b overflow-auto sticky top-0 bg-white z-10">
            <ul class="block text-lg gap-8 flex text-gray-400 font-light whitespace-nowrap px-4 md:px-0">
                <li class="{% if dashboard %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="dashboard.html" class="py-2 inline-block">Dashboard</a></li>
                <li class="{% if attendees %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="attendees.html" class="py-2 inline-block">Attendees</a></li>
                <li class="{% if payments %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="payments.html" class="py-2 inline-block">Payments</a></li>
                <li class="{% if users %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="users.html" class="py-2 inline-block">Users</a></li>
                <li class="{% if refunds %}font-normal border-b-2 border-red-600 text-red-600 {% endif %} inline-block"><a href="refunds.html" class="py-2 inline-block">Refund Requests</a></li>
            </ul>
        </div>

        <div class="block py-4">
            <div class="flex w-full mb-4 px-4 md:px-0 items-center">
                <div class="md:w-1/3 w-1/2 text-xl block">Users</div>
                <div class="md:w-2/3 w-1/2 text-right block">
                    <button onclick="addUsers()" class="text-gray-700 px-3 py-2 text-sm rounded-md text-center border border-gray-600">Add users</button>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="w-full whitespace-nowrap">
                    <thead>
                    <tr class="text-left bg-gray-100 text-gray-400">
                        <th class="py-2 px-4 font-normal">Name</th>
                        <th class="py-2 px-4 font-normal">Phone</th>
                        <th class="py-2 px-4 font-normal ">Email</th>
                        <th class="py-2 px-4 font-normal">Role</th>
                        <th class="py-2 px-4 font-normal text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b text-sm">
                        <td class="py-2 px-4">Wilson Gichuki</td>
                        <td class="py-2 px-4">+254712345678</td>
                        <td class="py-2 px-4">wilson@tokea.com</td>
                        <td class="py-2 px-4">Admin</td>
                        <td class="py-2 px-4 text-right">
                            <button class="text-sm px-3 py-1 border border-red-400 rounded-md text-red-500 bg-red-50">Revoke access</button>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="mt-6 text-center">
                <div class="l-pagination">
                    <button class="active">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <button>6</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "partials/l-footer.html" %}
{% endblock %}
