{% set homepage = true %}
{% set title = "Buy airtime, KPLC tokens - Powered by Bai.co.ke" %}
{% extends "base.html" %}
{% block content %}

{% include "partials/l-header.html" %}

{% include "partials/nav-utilities.html" %}

<div class="relative max-h-full">
    <div class="relative bg-gray-50 border-b hidden">
        <div class="relative max-w-7xl mx-auto md:py-4 pt-2 md:px-6">
            <div class="md:text-xl text-lg font-medium mb-2 px-4">Buy airtime, tokens</div>
            <div class="md:text-lg text-md flex md:gap-4 gap-2 overflow-auto whitespace-nowrap px-4 pb-3">
                <div class="md:w-36 md:h-16 bg-black font-medium text-white rounded-md px-3 md:py-2 py-1 whitespace-nowrap">Airtime</div>
                <div class="md:w-36 md:h-16 bg-white border rounded-md px-3 md:py-2 py-1 whitespace-nowrap">KPLC Prepaid</div>
                <div class="md:w-36 md:h-16 bg-white border rounded-md px-3 md:py-2 py-1 whitespace-nowrap">KPLC Postpaid</div>
                <div class="w-36 h-16 bg-white border rounded-md px-3 md:py-2 py-1 hidden">Pay TV</div>
            </div>
        </div>
    </div>

    <div class="relative max-w-7xl mx-auto">
        <div class="relative md:grid md:grid-cols-2">
            <div class="md:border-r block md:pb-4">
                <div class="block md:px-6 px-4 md:py-4 py-3">
                    <label class="block text-sm"><strong>Phone number</strong> to top up</label>
                    <div class="table block border rounded-md mt-1 text-lg overflow-hidden">
                        <div class="table-cell px-4 py-2 w-1 pr-0">+254</div>
                        <div class="table-cell w-full">
                            <input class="outline-none w-full px-3 py-2" placeholder="7xxxxxxxx" />
                        </div>
                    </div>
                    <div class="table w-full">
                        <div class="table-cell w-1/2 text-xs text-gray-400">Available airtime</div>
                        <div class="table-cell w-1/2 text-right ">
                            <img src="images/logo-safaricom.svg" class="inline-block" height="12" />
                            <img src="images/logo-airtel.svg" class="inline-block" height="12" />
                        </div>
                    </div>
                </div>
                <div class="block md:px-6 px-4 md:py-4 py-2">
                    <label class="block text-sm mb-2">Choose bundle</label>
                    <div class="grid md:grid-cols-5 grid-cols-4 md:gap-4 gap-2">
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">10/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-white border-blue-500 border-2 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md text-blue-500">20/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">50/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">100/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">250/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">500/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">750/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md md:px-3 md:py-3 py-1 px-2">
                            <div class="font-gotham font-medium md:text-xl text-md">1,000/-</div>
                            <div class="font-gotham text-xs text-gray-500">Airtime</div>
                        </div>
                        <div class="md:col-span-2 col-span-3 hidden md:block">
                            <div class="block">
                                <label class="block text-sm">or enter amount</label>
                                <input class="block px-3 py-2 border rounded-md mt-1 w-full text-lg" placeholder="0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative block md:px-6 px-4 md:py-4 py-2">
                <div class="block my-2">
                    <div class="text-xl font-medium mb-2">Pay with</div>
                    <div class="md:flex gap-4 my-2">
                        <div class="bg-green-500 text-white rounded-md py-2 px-4 mb-2 md:mb-0">
                            <svg class="inline-block" fill="#fff" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0Z"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41Z"/></svg>
                            <span class="inline-block" >Lipa na MPESA</span>
                            <span class="float-right">254712***678</span>
                        </div>
                        <div class="bg-white border text-gray-500 rounded-md py-2 px-4 mb-2 md:mb-0">VISA / Mastercard</div>
                    </div>
                </div>
                <div class="block md:my-8 my-4 hidden md:block">
                    <label class="block text-sm"><strong>Phone number</strong></label>
                    <div class="table block border rounded-md mt-1 text-lg">
                        <div class="table-cell px-4 py-2 w-1 pr-0">+254</div>
                        <div class="table-cell w-full">
                            <input class="outline-none w-full px-3 py-2" placeholder="7xxxxxxxx" />
                        </div>
                    </div>
                </div>
                <div class="relative md:my-8 my-4">
                    <div class="text-xs mb-4 text-gray-400">By using this service, you agree that you have put the right information and that you agree to the Terms and Conditions and Privacy Policy.</div>
                    <button class="sticky z-10 left-0 top-0 flex bg-red-600 text-white text-lg px-4 py-2 rounded-md font-bold w-full">
                        <span class="w-1/2 text-left">Buy airtime</span>
                        <span class="w-1/2 text-right">KES 120</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="border-t"></div>
    <div class="relative max-w-7xl mx-auto hidden">
        <div class="md:grid md:grid-cols-2">
            <div class="border-r block md:pb-4">
                <div class="block md:px-6 px-4 md:py-4 py-3">
                    <label class="block text-sm font-medium">Enter account number</label>
                    <input class="block border rounded-md mt-1 text-lg outline-none w-full px-3 py-2" placeholder="xxxxxxxx" />
                </div>
                <div class="block md:px-6 px-4 md:py-4 py-3">
                    <label class="block text-sm mb-2 font-medium">Choose amount of tokens worth</label>
                    <div class="grid md:grid-cols-5 grid-cols-3 md:gap-4 gap-2">
                        <div class="block bg-gray-100 rounded-md py-3 px-3">
                            <div class="font-gotham font-medium text-xl">100/-</div>
                            <div class="font-gotham text-xs text-gray-500">Amount</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md py-3 px-3">
                            <div class="font-gotham font-medium text-xl">250/-</div>
                            <div class="font-gotham text-xs text-gray-500">Amount</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md py-3 px-3">
                            <div class="font-gotham font-medium text-xl">500/-</div>
                            <div class="font-gotham text-xs text-gray-500">Amount</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md py-3 px-3">
                            <div class="font-gotham font-medium text-xl">750/-</div>
                            <div class="font-gotham text-xs text-gray-500">Amount</div>
                        </div>
                        <div class="block bg-gray-100 rounded-md py-3 px-3">
                            <div class="font-gotham font-medium text-xl">1,000/-</div>
                            <div class="font-gotham text-xs text-gray-500">Amount</div>
                        </div>
                    </div>
                    <div class="block mt-4">
                        <label class="block text-sm">or enter amount</label>
                        <input class="block px-3 py-2 border rounded-md mt-1 w-full text-lg" placeholder="0" />
                    </div>
                </div>
            </div>

            <div class="block md:px-6 px-4 md:py-4 py-3">
                <div class="block mb-2">
                    <div class="text-xl font-medium mb-2">Pay with</div>
                    <div class="flex gap-4 my-2">
                        <div class="bg-black text-white rounded-md py-2 px-4 ">Lipa na MPESA</div>
                        <div class="bg-white border text-gray-500 rounded-md py-2 px-4 ">VISA / Mastercard</div>
                    </div>
                </div>
                <div class="block md:my-8 my-4">
                    <label class="block text-sm"><strong>Phone number</strong></label>
                    <div class="table block border rounded-md mt-1 text-lg">
                        <div class="table-cell px-4 py-2 w-1 pr-0">+254</div>
                        <div class="table-cell w-full">
                            <input class="outline-none w-full px-3 py-2" placeholder="7xxxxxxxx" />
                        </div>
                    </div>
                </div>
                <div class="block md:my-8 my-4">
                    <div class="text-xs mb-4 text-gray-400">By using this service, you agree that you have put the right information and that you agree to the Terms and Conditions and Privacy Policy.</div>
                    <button class="flex bg-red-600 text-white text-lg px-4 py-2 rounded-md font-bold w-full">
                        <span class="w-1/2 text-left">Buy airtime</span>
                        <span class="w-1/2 text-right">KES 120</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "partials/l-footer.html" %}
{% endblock %}
