<div class="relative my-12">
    <div class="container mx-auto px-4">
        <div class="text-2xl font-bold mb-4">Highlights</div>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-12 md:gap-y-10 gap-y-8">
            <a href="details.html" class="col">
                <div class="w-full h-auto bg-gray-200 mb-2 aspect-1-1"><img src="images/tokea-001-nyarari.jpeg" /></div>
                <div class="text-lg font-medium mb-1">Nyarari (by auntie Jemimmah)</div>
                <div class="text-sm text-red-600 mb-1 font-medium">Thu, 24 Dec, 4:30pm</div>
                <div class="text-sm text-gray-600">From KES 1,500</div>
            </a>
            <a href="details.html" class="col">
                <div class="w-full h-auto bg-gray-200 mb-2 aspect-1-1"><img src="images/tokea-002-solfest.jpeg" /></div>
                <div class="text-lg font-medium mb-1">SolFest @ Carnivore</div>
                <div class="text-sm text-red-600 mb-1 font-medium">Sun, 12 Dec, 4:00pm</div>
                <div class="text-sm text-gray-600">From KES 1,000</div>
            </a>
            <a href="details.html" class="col">
                <div class="w-full bg-gray-200 mb-2 aspect-1-1">
                    <img src="images/tokea-003-vashafest.jpeg" class="" />
                </div>
                <div class="text-lg font-medium mb-1">Afro-Vasha: Harmonize Live in Naivasha</div>
                <div class="text-sm text-red-600 mb-1 font-medium">Sun, 12 Dec, 4:30pm</div>
                <div class="text-sm text-gray-600">From KES 2,000</div>
            </a>
            <div class="col hidden">
                <div class="w-full aspect-1-1 bg-gray-100 mb-2"></div>
                <div class="text-lg font-medium mb-3">
                    <div class="w-5/6 h-6 bg-gray-100 mb-2"></div>
                    <div class="w-6/6 h-6 bg-gray-100"></div>
                </div>
                <div class="text-sm text-red-600 mb-3 font-medium">
                    <div class="w-2/6 h-4 bg-gray-100"></div>
                </div>
                <div class="text-sm text-gray-600">
                    <div class="w-1/6 h-3 bg-gray-100"></div>
                </div>
            </div>
            <div class="col hidden">
                <div class="w-full aspect-1-1 bg-gray-100 mb-2"></div>
                <div class="text-lg font-medium mb-3">
                    <div class="w-5/6 h-6 bg-gray-100 mb-2"></div>
                    <div class="w-6/6 h-6 bg-gray-100"></div>
                </div>
                <div class="text-sm text-red-600 mb-3 font-medium">
                    <div class="w-2/6 h-4 bg-gray-100"></div>
                </div>
                <div class="text-sm text-gray-600">
                    <div class="w-1/6 h-3 bg-gray-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>