<div class="modal">

    <div id="modal-add-users" class="modal-container">
        <div class="modal-header flex border-b">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Add users</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Role</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>Admin</option>
                    <option>Viewer</option>
                </select>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-add-ticket" class="modal-container">
        <div class="modal-header">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Add ticket</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Role</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>Admin</option>
                    <option>Viewer</option>
                </select>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-edit-ticket-type" class="modal-container">
        <div class="modal-header">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Edit ticket type</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Ticket type name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" value="General Admission"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Short Description</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" value="Early bird tickets"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Quantity</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="0"/>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="modal-close inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-create-complementary" class="modal-container">
        <div class="modal-header flex border-b">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Complemetary ticket</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Ticket type</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>General Admission ticket</option>
                    <option>G.O.A.T. ticket</option>
                    <option>Couple ticket</option>
                    <option>Group of 4 ticket</option>
                    <option>Group of 8 ticket</option>
                </select>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Quantity</label>
                <input class="px-4 py-2 border outline-none w-24 rounded-md border-gray-300" type="tel" placeholder="1" value="1"/>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>
</div>