<div class="l-tabs">
    <div class="cont">
        <ul class="links">
            <li class="">
                <a href="/" class="">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 16 20" fill="#de0000"><path d="M10,20a1,1,0,0,1-1-1,1,1,0,1,0-2,0,1,1,0,0,1-1,1H3a3,3,0,0,1-3-3V3A3,3,0,0,1,3,0H6A1,1,0,0,1,7,1,1,1,0,1,0,9,1a1,1,0,0,1,1-1h3a3,3,0,0,1,3,3V17a3,3,0,0,1-3,3Zm.829-2H13a1,1,0,0,0,1-1V8.5H12.812a1,1,0,0,1,0-2H14V3a1,1,0,0,0-1-1H10.829A3,3,0,0,1,5.171,2H3A1,1,0,0,0,2,3V6.5H3.188a1,1,0,1,1,0,2H2V17a1,1,0,0,0,1,1H5.171a3,3,0,0,1,5.657,0ZM6.812,8.5a1,1,0,0,1,0-2H9.187a1,1,0,0,1,0,2Z"/>
                        </svg>
                    </div>
                    <div class="label">Events</div>
                    <div class="pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.484" height="11.216" viewBox="0 0 22.484 11.216">
                            <path id="Path_5" data-name="Path 5" d="M476.786,235.872l11.148-10.163,10.654,10.163" transform="translate(-476.45 -225.026)" fill="#fff" stroke="#ddd" stroke-width="1"/>
                          </svg>                     
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="utilities.html" class="pt-2 pb-3 relative inline-block text-center">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M2,3A1,1,0,0,1,3,2H5.153a1,1,0,0,1,.986.836l.74,4.435a1,1,0,0,1-.54,1.06L4.791,9.1A11.037,11.037,0,0,0,10.9,15.209l.774-1.548a1,1,0,0,1,1.059-.54l4.435.74a1,1,0,0,1,.836.986V17a1,1,0,0,1-1,1H15A13,13,0,0,1,2,5Z" transform="translate(-2 -2)" fill="#de0000"/></svg>
                    </div>
                    <div class="label">Airtime</div>
                    <div class="pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.484" height="11.216" viewBox="0 0 22.484 11.216">
                            <path id="Path_5" data-name="Path 5" d="M476.786,235.872l11.148-10.163,10.654,10.163" transform="translate(-476.45 -225.026)" fill="#fff" stroke="#ddd" stroke-width="1"/>
                          </svg>                     
                    </div>
                </a>
            </li>
            <li class="">
                <a href="utilities.html" class="">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path id="Path_4" data-name="Path 4" d="M7,2V13h3v9l7-12H13l4-8Z" fill="#d10000"/></svg>
                    </div>
                    <div class="label">KPLC</div>
                    <div class="pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.484" height="11.216" viewBox="0 0 22.484 11.216">
                            <path id="Path_5" data-name="Path 5" d="M476.786,235.872l11.148-10.163,10.654,10.163" transform="translate(-476.45 -225.026)" fill="#fff" stroke="#ddd" stroke-width="1"/>
                          </svg>                     
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>