<div class="l-events">
    <div class="main">
        <div class="title">Upcoming events</div>
        <div class="events">
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img class="aspect-1-1" src="#" /></div>
                    <div class="info">
                        <div class="date">
                            <div class="b">16</div>
                            <div class="t">APR</div>
                        </div>
                        <div class="name">
                            <div class="t">SHINCITY</div>
                            <div class="b">Carnivore Grounds</div>
                            <button class="btn">BUY TICKETS</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img src="#" class="aspect-1-1" /></div>
                    <div class="meta">
                        <div class="info">
                            <div class="date">
                                <div class="t">APR</div>
                                <div class="b">16</div>
                            </div>
                            <div class="name">
                                <div class="t">House of Banter "Sing Swing Sway" Edition</div>
                                <div class="b">Carnivore Grounds</div>
                                <button class="btn">BUY TICKETS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img class="aspect-1-1" src="#" /></div>
                    <div class="info">
                        <div class="date">
                            <div class="t">APR</div>
                            <div class="b">16</div>
                        </div>
                        <div class="name">
                            <div class="t">SHINCITY</div>
                            <div class="b">Carnivore Grounds</div>
                            <button class="btn">BUY TICKETS</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img src="#" class="aspect-1-1" /></div>
                    <div class="meta">
                        <div class="info">
                            <div class="date">
                                <div class="b">16</div>
                                <div class="t">Sep</div>
                            </div>
                            <div class="name">
                                <div class="t">House of Banter "Sing Swing Sway" Edition</div>
                                <div class="b">Carnivore Grounds</div>
                                <button class="btn">BUY TICKETS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img class="aspect-1-1" src="#" /></div>
                    <div class="info">
                        <div class="date">
                            <div class="t">APR</div>
                            <div class="b">16</div>
                        </div>
                        <div class="name">
                            <div class="t">SHINCITY</div>
                            <div class="b">Carnivore Grounds</div>
                            <button class="btn">BUY TICKETS</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="event">
                    <div class="image aspect-1-1"><img src="#" class="aspect-1-1" /></div>
                    <div class="meta">
                        <div class="info">
                            <div class="date">
                                <div class="t">Apr</div>
                                <div class="b">16</div>
                            </div>
                            <div class="name">
                                <div class="t">House of Banter "Sing Swing Sway" Edition</div>
                                <div class="b">Carnivore Grounds</div>
                                <button class="btn">BUY TICKETS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col hidden">
                <div class="w-full aspect-1-1 bg-gray-100 mb-2"></div>
                <div class="text-lg font-medium mb-3">
                    <div class="w-5/6 h-6 bg-gray-100 mb-2"></div>
                    <div class="w-6/6 h-6 bg-gray-100"></div>
                </div>
                <div class="text-sm text-red-600 mb-3 font-medium">
                    <div class="w-2/6 h-4 bg-gray-100"></div>
                </div>
                <div class="text-sm text-gray-600">
                    <div class="w-1/6 h-3 bg-gray-100"></div>
                </div>
            </div>
        </div>

        <div class="title">Past events</div>
        <div class="events">
            <a href="event-details.html" class="">
                <div class="image"><img src="images/tokea-003-vashafest.jpeg" /></div>
                <div class="info">
                    <div class="date">
                        <div class="t">SEP</div>
                        <div class="b">14</div>
                    </div>
                    <div class="name">
                        <div class="t">Vasha Fest</div>
                        <div class="b">Naivasha</div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="image"><img src="images/tokea-001-nyarari.jpeg" /></div>
                <div class="info">
                    <div class="date">
                        <div class="t">SEP</div>
                        <div class="b">14</div>
                    </div>
                    <div class="name">
                        <div class="t">Nyarari</div>
                        <div class="b">Two Rivers Mall</div>
                    </div>
                </div>
            </a>
            <a href="event-details.html" class="">
                <div class="image"><img src="images/tokea-004-afrojam.jpeg" /></div>
                <div class="info">
                    <div class="date">
                        <div class="t">SEP</div>
                        <div class="b">14</div>
                    </div>
                    <div class="name">
                        <div class="t">Afrojam</div>
                        <div class="b">Kenyatta Int. Conference Center</div>
                    </div>
                </div>
            </a>
            <div class="col hidden">
                <div class="w-full aspect-1-1 bg-gray-100 mb-2"></div>
                <div class="text-lg font-medium mb-3">
                    <div class="w-5/6 h-6 bg-gray-100 mb-2"></div>
                    <div class="w-6/6 h-6 bg-gray-100"></div>
                </div>
                <div class="text-sm text-red-600 mb-3 font-medium">
                    <div class="w-2/6 h-4 bg-gray-100"></div>
                </div>
                <div class="text-sm text-gray-600">
                    <div class="w-1/6 h-3 bg-gray-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>