<div class="relative border-gray-300 border-t bg-gray-100 pt-4 block">
    <div class="max-w-7xl mx-auto px-6 py-12">
        <div class="grid grid-cols-2 md:flex gap-8">
            <div class="block mb-8 md:text-left md:w-1/4 text-center col-span-2">
                <svg class="inline-block" width="auto" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430.63 119.44"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M26.79,117.05l-3.14-71L3,48.22l-3-27,74.84-3.7L76.69,44,56,44.52l-.92,74.32Z"/><path d="M113.05,119.44,86.25,112l-4.8-74.68,14.6-16.61,46.75-3.47L155,39.62l-6.65,74.8Zm13.86-23.9,3.69-44.09L118,45,107,51.21l1.48,46.36,10,5Z"/><path d="M161.23,118.25l-1.1-98.71,24.2-2.39,1.85,41.23,12.57-3.59,8.87-37.28,24.94,1.19L222.4,64.59l-8,2,18.11,49.24-24.94,1.55L192.46,71.28l-5,1.32,1.85,43.26Z"/><path d="M253.32,119.08l-16.26-9,2-90.46L301,16.79l2.4,28.08-38.25,3.71L265,62.2l34.55-1.91L297.3,78.21l-32.33,1L264.41,96,301,92.32l3,22.1Z"/><path d="M356,117.05v-4.3l-32.34,3.94L310.3,98.17l2.41-33.34L351,58.74,350.4,45l-12.75.84.56,8.6L312.71,56l-4.25-33.34,39.54-6,29.75,6,2.4,92.85Zm-3.14-43.73-14.05,2-.55,12.19,17,2.62Z"/><path d="M420.1,85.7l-23.19-1.4-9.63-70L395.41.84,422.65,0l8,17.14Zm-24.39,7.87,25.89,1.68-1.81,21.36-22.27.56-4.22-11.8Z" style="fill:#c10f1a"/></g></g></svg>
                <div class="mt-8">
                    <div class="text-xs opacity-50">&copy; 2022. TOKEA!<br />All Rights Reserved</div>
                </div>
            </div>

            <div class="w-12 hidden md:block"></div>
            <div class="md:w-1/4 w-full opacity-70">
                <div class="text-sm font-bold text-gray-500 mb-4">Links</div>
                <a href="about-us.html" class="block my-1 font-medium text-sm">About Us</a>
                <a href="privacy.html" class="block my-1 font-medium text-sm">Privacy Policy</a>
                <a href="terms.html" class="block my-1 font-medium text-sm">Terms & Conditions</a>
                <a href="help.html" class="block my-1 font-medium text-sm">Help Center</a>
            </div>
            <div class="md:w-1/4 w-full opacity-70">
                <div class="text-sm font-bold text-gray-500 mb-4">Connect with us</div>

                <div class="mb-3 align-middle">
                    <a href="https://www.facebook.com/tokeaafrica" target="_blank" class="inline-block mr-3"><svg width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12.001 2.002C6.47 2.002 2 6.479 2 11.992c0 4.99 3.65 9.12 8.437 9.87v-6.99H7.89V11.98h2.54v-2.21c0-2.508 1.49-3.891 3.776-3.891 1.09 0 2.24.19 2.24.19v2.45h-1.27c-1.24 0-1.63.77-1.63 1.56v1.875h2.77l-.45 2.891h-2.33v6.98c4.78-.75 8.437-4.89 8.437-9.877 0-5.53-4.477-10-9.999-10Z"/></svg></a>
                    <a href="https://twitter.com/tokeaafrica" target="_blank" class="inline-block mr-3"><svg width="24" viewBox="0 0 48 40" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M348 168.73c-1.77.8-3.67 1.34-5.66 1.58 2.03-1.25 3.59-3.23 4.33-5.59 -1.91 1.15-4.01 1.99-6.26 2.44 -1.8-1.97-4.36-3.19-7.19-3.19 -5.44 0-9.85 4.52-9.85 10.09 0 .79.08 1.56.25 2.29 -8.19-.43-15.44-4.44-20.3-10.56 -.85 1.49-1.34 3.23-1.34 5.08 0 3.5 1.73 6.59 4.38 8.4 -1.62-.05-3.14-.51-4.47-1.26v.12c0 4.89 3.39 8.97 7.9 9.9 -.83.23-1.7.35-2.6.35 -.64 0-1.26-.07-1.86-.18 1.25 4.01 4.88 6.93 9.19 7 -3.37 2.71-7.62 4.32-12.24 4.32 -.8 0-1.59-.05-2.35-.14 4.35 2.86 9.53 4.53 15.09 4.53 18.11 0 28.01-15.39 28.01-28.73 0-.44-.01-.88-.03-1.31 1.92-1.43 3.59-3.21 4.91-5.23" transform="translate(-300-164)"/></svg></a>
                    <a href="https://www.instagram.com/tokeaafrica/" target="_blank" class="inline-block mr-3"><svg width="24" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M524 160c-6.52 0-7.34.02-9.9.14 -2.56.11-4.3.52-5.83 1.11 -1.58.61-2.92 1.43-4.26 2.76 -1.34 1.33-2.16 2.67-2.77 4.25 -.6 1.52-1 3.27-1.12 5.82 -.12 2.55-.15 3.37-.15 9.89 0 6.51.02 7.33.14 9.89 .11 2.55.52 4.29 1.11 5.82 .61 1.57 1.43 2.91 2.76 4.25 1.33 1.33 2.67 2.15 4.25 2.76 1.52.59 3.27.99 5.82 1.11 2.55.11 3.37.14 9.89.14 6.51 0 7.33-.03 9.89-.15 2.55-.12 4.29-.53 5.82-1.12 1.57-.62 2.91-1.44 4.25-2.77 1.33-1.34 2.15-2.68 2.76-4.26 .59-1.53.99-3.28 1.11-5.83 .11-2.56.14-3.38.14-9.9 0-6.52-.03-7.34-.15-9.9 -.12-2.56-.53-4.3-1.12-5.83 -.62-1.58-1.44-2.92-2.77-4.26 -1.34-1.34-2.68-2.16-4.26-2.77 -1.53-.6-3.28-1-5.83-1.12 -2.56-.12-3.38-.15-9.9-.15Zm0 4.32c6.4 0 7.16.02 9.69.13 2.33.1 3.61.49 4.45.82 1.12.43 1.91.95 2.75 1.79 .83.83 1.35 1.63 1.79 2.75 .32.84.71 2.11.82 4.45 .11 2.53.13 3.28.13 9.69 0 6.4-.03 7.16-.14 9.69 -.11 2.33-.5 3.61-.83 4.45 -.44 1.12-.96 1.91-1.8 2.75 -.84.83-1.64 1.35-2.76 1.79 -.85.32-2.12.71-4.46.82 -2.54.11-3.29.13-9.7.13 -6.41 0-7.17-.03-9.7-.14 -2.34-.11-3.62-.5-4.46-.83 -1.13-.44-1.92-.96-2.76-1.8 -.84-.84-1.36-1.64-1.8-2.76 -.33-.85-.72-2.12-.83-4.46 -.12-2.54-.14-3.29-.14-9.7 0-6.41.02-7.17.13-9.7 .1-2.34.49-3.62.82-4.46 .43-1.13.95-1.92 1.79-2.76 .83-.84 1.63-1.36 2.75-1.8 .84-.33 2.11-.72 4.45-.83 2.53-.12 3.28-.14 9.69-.14Zm0 7.35c-6.81 0-12.33 5.51-12.33 12.32 0 6.8 5.51 12.32 12.32 12.32 6.8 0 12.32-5.52 12.32-12.33 0-6.81-5.52-12.33-12.33-12.33Zm0 20.32c-4.42 0-8.01-3.59-8.01-8 0-4.42 3.58-8.01 8-8.01 4.41 0 7.99 3.58 7.99 8 0 4.41-3.59 7.99-8 7.99Zm15.69-20.82c0 1.59-1.29 2.87-2.89 2.87s-2.88-1.29-2.88-2.88c0-1.6 1.28-2.89 2.87-2.89s2.88 1.28 2.88 2.88Z" transform="translate(-500-160)"/></svg></a>
                </div>
            </div>
            <div class="md:w-1/4 w-full md:text-right hidden md:block">
                <div class="text-sm font-bold text-gray-500 mb-4">Contact Us</div>
                <div class="text-sm mb-8">
                    <div class="py-1"><strong>Location:</strong><br />4th floor, Kalson Towers<br />76738 - 00620, Nairobi</div>
                    <div class="py-1"><strong>Telephone:</strong> +254 712 345678</div>
                    <div class="py-1"><strong>Email:</strong> info@tokea.com</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">

    <div id="modal-add-users" class="modal-container">
        <div class="modal-header flex border-b">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Add users</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Role</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>Admin</option>
                    <option>Viewer</option>
                </select>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-add-ticket" class="modal-container">
        <div class="modal-header">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Add ticket</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Role</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>Admin</option>
                    <option>Viewer</option>
                </select>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-edit-ticket-type" class="modal-container">
        <div class="modal-header">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Edit ticket type</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Ticket type name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" value="General Admission"/>
            </div>
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Short Description</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" value="Early bird tickets"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Quantity</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="0"/>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="modal-close inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>

    <div id="modal-create-complementary" class="modal-container">
        <div class="modal-header flex border-b">
            <div class="modal-title flex-grow text-2xl py-4 px-6">Complemetary ticket</div>
            <button class="modal-close text-gray-400 py-4 px-6 flex-shrink hover:bg-gray-50"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12Z"/><path fill="none" d="M0 0h24v24H0Z"/></svg></button>
        </div>
        <div class="grid grid-cols-2 px-6 py-4 gap-4">
            <div class="col-span-2">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Full name</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="text" placeholder="Jane Doe"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Phone number</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="tel" placeholder="07xxxxxxxx"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Email</label>
                <input class="px-4 py-2 border outline-none w-full rounded-md border-gray-300" type="email" placeholder="jane@example.com"/>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Ticket type</label>
                <select class="px-4 py-2 border outline-none w-full rounded-md bg-white border-gray-300 pr-3">
                    <option>General Admission ticket</option>
                    <option>G.O.A.T. ticket</option>
                    <option>Couple ticket</option>
                    <option>Group of 4 ticket</option>
                    <option>Group of 8 ticket</option>
                </select>
            </div>
            <div class="col">
                <label class="mb-2 block text-xs text-gray-500 font-medium">Quantity</label>
                <input class="px-4 py-2 border outline-none w-24 rounded-md border-gray-300" type="tel" placeholder="1" value="1"/>
            </div>
        </div>
        <div class="text-right gap-4 block py-3 px-6 border-t">
            <button class="inline-block px-4 py-2 bg-gray-100 text-gray-500 rounded-md border-gray-300 border">Cancel</button>
            <button class="inline-block px-4 py-2 bg-red-600 text-white rounded-md border border-red-700">Save details</button>
        </div>
    </div>
</div>