<div class="l-header">
    <div class="l-header-blur"></div>
    <div class="main">
        <div class="main-container">
            <div class="left">
                <a href="/"><svg height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430.63 119.44"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M26.79,117.05l-3.14-71L3,48.22l-3-27,74.84-3.7L76.69,44,56,44.52l-.92,74.32Z"/><path d="M113.05,119.44,86.25,112l-4.8-74.68,14.6-16.61,46.75-3.47L155,39.62l-6.65,74.8Zm13.86-23.9,3.69-44.09L118,45,107,51.21l1.48,46.36,10,5Z"/><path d="M161.23,118.25l-1.1-98.71,24.2-2.39,1.85,41.23,12.57-3.59,8.87-37.28,24.94,1.19L222.4,64.59l-8,2,18.11,49.24-24.94,1.55L192.46,71.28l-5,1.32,1.85,43.26Z"/><path d="M253.32,119.08l-16.26-9,2-90.46L301,16.79l2.4,28.08-38.25,3.71L265,62.2l34.55-1.91L297.3,78.21l-32.33,1L264.41,96,301,92.32l3,22.1Z"/><path d="M356,117.05v-4.3l-32.34,3.94L310.3,98.17l2.41-33.34L351,58.74,350.4,45l-12.75.84.56,8.6L312.71,56l-4.25-33.34,39.54-6,29.75,6,2.4,92.85Zm-3.14-43.73-14.05,2-.55,12.19,17,2.62Z"/><path d="M420.1,85.7l-23.19-1.4-9.63-70L395.41.84,422.65,0l8,17.14Zm-24.39,7.87,25.89,1.68-1.81,21.36-22.27.56-4.22-11.8Z" style="fill:#c10f1a"/></g></g></svg></a>
            </div>
            <div class="center">
                <a href="#" class="hidden text-center">
                    <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 16 20"><path fill="#d10000" d="M10,20a1,1,0,0,1-1-1,1,1,0,1,0-2,0,1,1,0,0,1-1,1H3a3,3,0,0,1-3-3V3A3,3,0,0,1,3,0H6A1,1,0,0,1,7,1,1,1,0,1,0,9,1a1,1,0,0,1,1-1h3a3,3,0,0,1,3,3V17a3,3,0,0,1-3,3Zm.829-2H13a1,1,0,0,0,1-1V8.5H12.812a1,1,0,0,1,0-2H14V3a1,1,0,0,0-1-1H10.829A3,3,0,0,1,5.171,2H3A1,1,0,0,0,2,3V6.5H3.188a1,1,0,1,1,0,2H2V17a1,1,0,0,0,1,1H5.171a3,3,0,0,1,5.657,0ZM6.812,8.5a1,1,0,0,1,0-2H9.187a1,1,0,0,1,0,2Z"/>
                    </svg>
                    <span class="block text-xs mt-2">Events</span>
                </a>
                <!--<a href="#" class="hidden md:inline-block text-center">
                    <svg class="inline-block" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0Z"/><path d="M7 13c1.66 0 3-1.34 3-3s-1.34-3-3-3 -3 1.34-3 3 1.34 3 3 3Zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4Z"/></svg>
                    <span class="block text-xs mt-2">Holidays</span>
                </a>
                <a href="#" class="hidden md:inline-block text-center">
                    <svg class="inline-block" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M10.18 9"/><path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5Z"/></g><path fill="none" d="M0 0h24v24H0Z"/></svg>
                    <span class="block text-xs mt-2">Flights</span>
                </a>-->
                <a href="#" class=" md:inline-block text-center">
                    <svg class="inline-block" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="#d10000" d="M2 3l0 0c-.01-.56.44-1.01.99-1.01h2.15l-.01-.001c.48 0 .9.35.98.83l.74 4.43 0 0c.07.43-.15.86-.55 1.05l-1.548.77 -.01-.01c1.12 2.77 3.32 4.98 6.1 6.1l.77-1.548 -.01 0c.19-.4.62-.62 1.05-.55l4.43.74 0 0c.48.08.83.49.83.98v2.15 0c0 .55-.45 1-1 1h-2c-7.18 0-13-5.82-13-13v-2Z"/></svg>
                    <span class="block text-xs mt-2">Airtime</span>
                </a>
                <a href="#" class=" md:inline-block text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" height="20" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path d="M7,2V13h3v9l7-12H13l4-8Z" fill="#d10000"/></svg>
                    <span class="block text-xs mt-2">Tokens</span>
                </a>
            </div>
            <div class="right">
                <div class="links">
                    <a href="#" class="hidden">Events</a>
                    
                    <a href="#" class="hidden">Add event</a>
                    <a href="signup.html" class="signup ml-2">Sign&nbsp;up/Login</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>