<div class="max-w-7xl mx-auto px-4 relative bg-neutral-100 border-b">
    <ul class="flex gap-6 py-2">
        <li class="">
            <a href="#" class="inline-block text-center">
                <div class="w-12 h-12 border rounded-full bg-white grid place-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g transform="translate(-27 -235)"><path d="M0,0H24V24H0Z" transform="translate(27 235)" fill="none" fill-rule="evenodd"/><path d="M5,5H19V7H5Z" transform="translate(27 235)" fill="#ffe8e8" fill-rule="evenodd"/><path id="_-Primary-Color" data-name="🔹-Primary-Color" d="M19,3H18V1H16V3H8V1H6V3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V9H19ZM19,7H5V5H19Zm-2.51,4.53-1.06-1.06-4.87,4.87L8.45,13.23,7.39,14.29l3.17,3.17Z" transform="translate(27 235)" fill="#d10000" fill-rule="evenodd"/></g></svg>
                </div>
                <div class="text-xs mt-1 font-medium">Events</div>
            </a>
        </li>
        <li class="">
            <a href="utilities.html" class="inline-block text-center">
                <div class="w-12 h-12 border rounded-full bg-white grid place-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M2,3A1,1,0,0,1,3,2H5.153a1,1,0,0,1,.986.836l.74,4.435a1,1,0,0,1-.54,1.06L4.791,9.1A11.037,11.037,0,0,0,10.9,15.209l.774-1.548a1,1,0,0,1,1.059-.54l4.435.74a1,1,0,0,1,.836.986V17a1,1,0,0,1-1,1H15A13,13,0,0,1,2,5Z" transform="translate(-2 -2)" fill="#de0000"/></svg>
                </div>
                <div class="text-xs mt-1 font-medium">Airtime</div>
            </a>
        </li>
        <li class="">
            <a href="utilities.html" class="inline-block text-center">
                <div class="w-12 h-12 border rounded-full bg-white grid place-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path id="Path_4" data-name="Path 4" d="M7,2V13h3v9l7-12H13l4-8Z" fill="#d10000"/></svg>
                      
                </div>
                <div class="text-xs mt-1 font-medium">KPLC</div>
            </a>
        </li>
    </ul>
</div>