@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-gray-800;
    font-family: 'Outfit', sans-serif;
    p{
        @apply pb-6 text-md;
    }
    input::placeholder{
        font-weight: 400;
        opacity: .7;
    }
}

.bg-img{
    background-color: #f9f9f9;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    &-login{
        background-image: url(https://tokeabucket.s3.us-east-2.amazonaws.com/tokea/tokea-bg-01.png);
        background-position: middle center;
        background-repeat: no-repeat;
    }
}
.text-primary{
    color: #c20e1a;
}
.aspect{
    &-1-1{
        aspect-ratio: 1 / 1;
    }
    &-16-9{
        aspect-ratio: 16 / 9;
    }
}

@layer components {
    .aspect-1-1{
        aspect-ratio: 1 / 1;
    }
    .aspect-16-9{
        aspect-ratio: 16 / 9;
    }
    .text-md{
        font-size: 1rem;
    }
    @media (min-width: 768px) {
        .md\:aspect-1-1{
            aspect-ratio: 1 / 1;
        }
        .md\:aspect-16-9{
            aspect-ratio: 16 / 9;
        }
    }
}

.l{
    &-jumbo{
        @apply relative bg-white;
        & img{
            @apply mx-auto;
            &.desktop{
                @apply hidden sm:block w-full;
            }
            &.mobile{
                @apply block sm:hidden;
            }
        }
    }
    &-header{
        @apply relative w-full top-0 z-20 border-b;
        &-blur{
            @apply absolute top-0 w-full h-full left-0 bg-white/50 backdrop-blur-xl;
        }
        & .main{
            @apply relative block max-w-7xl mx-auto md:px-6 px-4;
            &-container{
                @apply relative flex items-center text-center;
                & .left{
                    @apply md:w-1/3 flex-shrink inline-block py-4;
                    svg{
                        height: 36px;
                    }
                }
                & .center{
                    @apply md:w-1/3 md:block hidden text-center whitespace-nowrap;
                    & a{
                        @apply px-4 py-3 text-sm inline-block;
                        & svg{
                            fill: #777;
                        }
                        &:hover{
                            @apply bg-red-50;
                            color: #c20e1a;
                            & svg{
                                fill: #c20e1a;
                            }
                        }
                    }
                }
                & .right{
                    @apply md:w-1/3 flex-grow block text-right items-center;
                    & .links{
                        @apply inline-flex relative gap-1 text-right items-center;
                        & a{
                            @apply px-4 py-3 text-sm;
                            color: #777;
                            & svg{
                                fill: #777;
                            }
                            &:hover{
                                @apply bg-red-50;
                                color: #c20e1a;
                                & svg{
                                    fill: #c20e1a;
                                }
                            }
                            &.host{
                                @apply hidden md:block;
                            }
                            &.login{
                                @apply border border-gray-800 px-4 py-2 rounded-md font-medium hidden md:inline-block py-2;
                            }
                            &.signup{
                                @apply inline-block border border-red-600 bg-red-600 rounded-md text-white px-4 py-2 text-sm my-3 font-medium;
                            }
                        }
                        & .menu{
                            @apply block md:hidden px-2 py-2;
                            svg{
                                height: 24px;
                            }
                        }
                        & .dropdown{
                            @apply flex items-center relative whitespace-nowrap cursor-pointer md:border-l md:ml-2 md:px-2 py-4;
                            & .avator{
                                @apply inline-block w-10 h-10 bg-gray-100 rounded-full hidden;
                            }
                            & .name{
                                @apply inline-block ml-4;
                            }
                            & svg{
                                @apply inline-block;
                            }
                            &-menu{
                                @apply absolute top-8 right-0 w-56 bg-white border shadow-lg rounded-md z-10 text-left divide-y text-sm;
                                & a{
                                    @apply block py-2 px-4;
                                    &.logout{
                                        @apply block py-2 px-4 text-red-600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-events{
        @apply relative mb-24 mt-6 block;
        & .main{
            @apply max-w-7xl mx-auto px-4;
        }
        & .title{
            @apply md:text-4xl font-bold mb-6 text-2xl;
        }
        & .events{
            @apply grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 md:gap-y-10 gap-y-6 mb-12 md:mb-24 auto-cols-max;
            & a{
                @apply block;
                & .event{
                    @apply shadow-lg bg-white overflow-hidden rounded-xl pb-3;
                }
                & .image{
                    @apply w-full bg-gray-200 overflow-hidden;
                }
                & .info{
                    @apply pt-3 pr-3 flex items-start;
                    & .date{
                        @apply px-3 text-center;
                        & .t{
                            @apply block text-xs uppercase text-red-600 font-medium;
                        }
                        & .b{
                            @apply block text-lg md:text-xl text-red-500 font-medium;
                        }
                    }
                    & .name{
                        @apply flex-grow;
                        & .t{
                            @apply block md:text-lg text-xl font-medium leading-6 md:leading-6;
                        }
                        & .b{
                            @apply block text-sm text-gray-500;
                        }
                        & .btn{
                            @apply block px-3 py-2 mt-2 text-white bg-red-600 rounded-md text-sm;
                        }
                    }
                }
            }
        }
    }
    &-event{
        @apply relative max-w-7xl mx-auto;
        & .jumbo{
            @apply relative z-0 left-0 top-0 w-full overflow-hidden;
            .bg{
                @apply w-full h-full hidden md:block;
                height: 500px;
            }
            & .img-mobile{
                @apply block md:hidden mx-auto;
            }
            & .img-desktop{
                @apply hidden md:block mx-auto;
            }
        }
        & .details{
            @apply relative container mx-auto px-0;
            & .main{
                @apply grid md:grid-cols-10 grid-cols-2 md:mb-12 md:mt-6 md:mx-6 gap-8;
            }
            & .info{
                 @apply col-span-5 pt-6 px-4 md:px-0 border-b w-full;
                 &-top{
                     @apply flex items-start;
                     & .date{
                         @apply flex-shrink px-4 py-2 text-center bg-gray-100 rounded-md md:pr-6 pr-2;
                     }
                     & .name{
                         @apply flex-grow-0;
                     }
                 }
                &-description{
                    @apply py-6 md:pr-8;
                    & p{
                        @apply pb-6;
                    }
                }
             }
            & .tickets{
                @apply col-span-5;
                &-title{
                    @apply px-4 md:px-0 first-letter:mb-4 font-bold text-xl md:hidden block mb-2;
                }
                &-main{
                    @apply md:p-6 px-4;
                }
                &-container{
                    @apply pb-0 md:border md:rounded-lg overflow-hidden;
                    & table{
                        @apply md:p-6 text-gray-600 w-full text-left relative;
                        & thead{
                            & tr{
                                @apply text-xs text-gray-400 font-normal;
                                th{
                                    @apply pb-2;
                                }
                            }
                        }
                        & tbody{
                            @apply text-xs md:text-md;
                            & tr{
                                @apply border-b;
                                td{
                                    @apply py-6 md:text-lg text-md align-middle;
                                }
                            }
                        }
                        tfoot{
                            tr{
                                @apply border-t py-6;
                                td{
                                    @apply text-xl font-bold text-gray-800;
                                }
                            }
                        }
                    }
                }

                &-head{
                    & td{
                        @apply px-4;
                        &:first-child{
                            @apply px-0 pb-2 w-1/2;
                        }
                        &:last-child{
                            @apply px-0 text-right;
                        }
                    }
                }
                &-item{
                    & td{
                        @apply px-4;
                        &:first-child, &:last-child{
                            @apply px-0;
                        }
                    }

                }
                &-count{
                    @apply flex gap-1 items-center text-center;
                    & button{
                        @apply inline-block;
                    }
                    & .input{
                        @apply inline-block w-12 outline-none py-1 text-center border rounded-md;
                    }
                }
                &-footer{
                    @apply border-t;
                    & td:first-child{
                        @apply py-4 text-xl font-bold text-gray-800;
                    }
                    & td:last-child{
                        @apply py-4 text-right;
                    }
                }
                &-cta{
                    @apply py-4 px-4 md:px-0;
                    & .message{
                        @apply py-4 text-xs text-red-500;
                    }
                    & .link{
                        @apply block rounded-lg bg-red-600 py-3 px-4 text-white;
                        &-f{
                            @apply flex w-full text-xl;
                            & .l{
                                @apply flex-shrink-0 font-medium;
                            }
                            & .r{
                                @apply flex-grow text-right font-bold;
                            }
                        }
                    }
                }
                &.soldout{
                    background: url("../images/sold-out.png") 0 10% no-repeat;
                    background-size: contain;
                    .tickets-container{
                        opacity: 30%;
                    }
                    .tickets-cta{
                        opacity: 30%;
                    }
                }
            }
        }
    }
    &-onboard{
        @apply block;
        &-bg{
            @apply absolute top-0 left-0 bottom-0 w-full;
            background-color: #000;
            background-image: url(https://tokeabucket.s3.us-east-2.amazonaws.com/tokea/tokea-bg-01.png);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-container{
            @apply relative mx-auto max-w-6xl md:px-0 px-4;
        }
        &-block{
            @apply md:absolute md:left-6 md:mt-56 mt-24 md:w-1/3 bg-white md:rounded-xl rounded-lg md:p-8 p-6 border-b;
            & .title{
                @apply text-2xl font-bold mb-4;
            }
            & .label{
                @apply text-sm font-medium mb-2;
            }
            & .input{
                @apply border border-gray-300 px-4 py-3 rounded-xl block w-full mb-4 focus-visible:border-gray-400 outline-none;
                &-link{
                    @apply relative block mb-4;
                    &-a{
                        @apply absolute right-4 top-3.5 text-sm text-red-700 font-medium;
                    }
                }
            }
            & .btn{
                @apply px-4 py-4 bg-red-700 w-full text-center text-white rounded-xl font-medium outline-none;
            }
            & .message{
                @apply block text-xs text-red-600 my-4 hidden;
            }
            & .link{
                @apply text-sm text-red-700 font-medium underline block mt-4;
            }
        }
    }
    &-pay{
        @apply relative max-w-5xl mx-auto md:my-12 my-6;
        &-title{
            @apply flex items-center md:mb-10 px-4;
            & svg{
                @apply inline-block w-8 md:w-10;
            }
            & .text{
                @apply md:text-4xl text-2xl font-bold inline-block ml-4;
            }
        }
        &-ticket{
            @apply mt-6 px-4 grid md:grid-cols-2 grid-cols-1 gap-8;
            &-details{
                @apply hidden md:block mt-6;
                & .title{
                    @apply text-md font-bold;
                }
                & .details{
                    @apply md:py-6 pb-0 pt-4 mb-4;
                    & table{
                        @apply text-gray-600 w-full text-left border-b-2 md:border-b-0;
                    }
                }
            }
            &-payment{
                @apply md:p-6 pb-0 pt-4 mb-4 md:rounded-lg border-gray-100 md:border border-t md:shadow-lg;
                & .title{
                    @apply text-md font-bold;
                }
                & .checkout{
                    @apply mt-4;
                    & .tab{
                        @apply flex gap-4 pb-4;
                        & .btn{
                            @apply border px-4 py-2 rounded-lg text-gray-500;
                            &.active{
                                @apply text-white bg-black px-4 py-2 rounded-lg font-bold;
                            }
                        }
                    }
                    & .in{
                        @apply block mt-4;
                        & label{
                            @apply text-sm font-medium pb-2 block;
                        }
                        & input{
                            @apply px-4 py-4 border-2 w-full rounded-lg outline-none;
                        }
                    }
                }
                & .cta{
                    @apply my-4 block w-full rounded-lg text-center font-bold bg-red-600 py-3 px-6 text-white;
                }
            }
        }
    }
    &-complete{
        @apply relative;
        &-container{
            @apply container mx-auto max-w-6xl px-4 py-12;
            & .title{
                @apply block;
                &-t{
                    @apply text-4xl font-bold text-primary text-center mt-6;
                }
                &-b{
                    @apply text-center mt-2 mb-6 text-gray-600;
                }
            }
            & .tic{
                @apply block text-center;
                &-container{
                    @apply max-w-2xl w-full text-left my-4 inline-block bg-gray-100 p-6 mt-6 md:mt-0 opacity-80;
                    & .text{
                        @apply text-xs block text-gray-500;
                    }
                    & .top{
                        @apply md:text-2xl text-xl mb-8 block font-medium;
                    }
                    & .tip{
                        @apply flex mb-6;
                        & .ico{
                            @apply w-12 flex-shrink-0;
                        }
                        & .det{
                            @apply flex-grow;
                            &-1{
                                @apply md:text-lg;
                            }
                            &-2{
                                @apply text-sm text-gray-500;
                            }
                        }
                    }
                }
            }
        }
    }
    &-tickets{
        @apply relative max-w-5xl mx-auto md:my-12 my-4 px-4;
        &-title{
            @apply md:text-4xl text-2xl font-bold md:mb-10 mb-2;
        }
        &-container{
            @apply md:grid md:grid-cols-4 gap-4;
        }
        &-side{
            @apply hidden md:block;
            a{
                @apply block py-1 px-2 text-md text-gray-500 rounded-md my-2 hover:bg-gray-100;
                &.active{
                    @apply block py-1 px-2 text-md bg-gray-100 rounded-md my-2;
                }
            }
        }
        &-list{
            @apply col-span-3 divide-y block gap-y-4;
            & .list{
                @apply block mb-12 divide-y;
                &.empty{
                    @apply block text-center py-12 mb-0;
                    & .text{
                        @apply text-gray-400;
                    }
                }
                &-title{
                    @apply flex py-2 block md:hidden;
                    & .l{
                        @apply flex-grow font-medium text-gray-500;
                    }
                    & .r{
                        @apply flex-shrink;
                    }
                }
                a{
                    @apply gap-4 md:p-4 py-4 flex items-start;
                    & .date{
                        @apply text-center;
                        & .t{
                            @apply text-sm;
                        }
                        & .b{
                            @apply text-2xl text-red-500 font-medium;
                        }
                    }
                    & .img{
                        @apply aspect-1-1 h-20 bg-gray-100;
                    }
                    & .det{
                        &-1{
                            @apply block text-lg font-medium;
                        }
                        &-2{
                            @apply block text-sm text-gray-500 mb-2;
                        }
                        &-3{
                            @apply block text-xs text-gray-500;
                        }
                    }
                }
            }
        };
    }
    &-ticket{
        @apply relative max-w-5xl mx-auto md:my-12 my-4 px-4;
        &-container{
            @apply md:grid md:grid-cols-3 block;
        }
        &-image{
            @apply relative mb-2 block aspect-1-1 bg-red-600 rounded-xl overflow-hidden;
            & .circle{
                @apply rounded-full absolute left-1/2 -ml-6 -mt-6 w-12 h-12 bg-white mx-auto;
            }
            & img{
                @apply z-10;
            }
            & .title{
                @apply absolute bottom-0 left-0 right-0 p-4 z-20 rounded-bl-xl rounded-br-xl pt-24;
                background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
                & .t{
                    @apply text-3xl text-white mb-1;
                }
                & .b{
                    @apply text-lg text-white text-opacity-80;
                }
                & .s{
                    @apply text-sm text-white text-opacity-60;
                }
            }
        }
        &-links{
            @apply block my-4;
            .links{
                @apply bg-white shadow-lg border rounded-lg divide-y text-sm;
                a{
                    @apply flex block px-4 py-3 items-center;
                }
            }
        };
    }
    &-pagination{
        @apply inline-table w-min whitespace-nowrap space-x-0 text-gray-500 text-center gap-0;
        & button{
            @apply py-2 px-4 border-y border-r bg-white table-cell mx-0;
            &:before, &:after{
                margin-left: -4px;
            }
            &:hover{
                @apply bg-gray-50;
            }
            &:first-child{
                @apply border-l rounded-l-md;
            }
            &:last-child{
                @apply border-r rounded-r-md;
            }
            &.active{
                @apply bg-gray-100;
            }
        }
    }
    &-tabs{
        @apply relative bg-neutral-100 border-b block md:hidden;
        .cont{
            @apply relative max-w-7xl mx-auto px-3;
            .links{
                @apply flex gap-6;
                li {
                    @apply relative;
                    a{
                        @apply py-2 inline-block text-center;
                        .icon{
                            @apply w-12 h-12 border rounded-full bg-white grid place-content-center;
                        }
                        .label{
                            @apply text-xs mt-1 pb-1 font-medium;
                        }
                        .pointer{
                            @apply absolute hidden;
                            left: 13px;
                            bottom: -1.5px;
                        }
                    }
                    &.active a .pointer{
                        @apply block;
                    }
                }
            }
        }
    }
}
.modal{
    @apply fixed top-0 bottom-0 left-0 right-0 bg-white bg-opacity-90 z-30 w-full hidden;

    &:after{
        @apply absolute top-0 left-0 right-0 bottom-0 w-full z-20;
    }

    &-container{
        @apply hidden relative mx-auto max-w-xl w-full border border-gray-300 rounded-lg bg-white top-24 overflow-hidden;
    }
    &-header{
        @apply flex border-b;
    }
}
.scrollbar{
    /* Scrollbars */
    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: red #ddd;
    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        bottom: 0;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
        background-color: blue;
        border-radius: 1px;
        border: 1px solid red;
    }
}
